{% extends 'base/base_list.html' %}

{% load static from staticfiles %}

{% block title %}Events{% endblock %}

{% block masthead_events %}selected{% endblock %}

{% block sidebar_events %}selected{% endblock %}

{% block sidebar_extra %}
  <hr class="sidebar-divider">
  <ul>
    <div class="sidebar-header"><a href="#">Temp</a></div>
    <li><a href="#" id="show-more-all">
      <span class="icon-container"><span class="glyphicon glyphicon-resize-small"></span></span>
      <span class="display-name">Collapse All</span>
    </a></li>
  </ul>
{% endblock %}

{% block paginator_top %}
  <div id="paginator-standard" class="container-white text-center">
    <a href="#" id="paginator-first" class="paginator-link">First</a
    ><a href="#" id="paginator-previous" class="paginator-link">Previous</a
    ><span id="paginator-page-numbers" data-current-page="1"></span
    ><a href="#" id="paginator-next" class="paginator-link">Next</a
    ><a href="#" id="paginator-last" class="paginator-link">Last</a>
  </div>
{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-xs-6 col-xs-offset-6 col-sm-7 col-sm-offset-5 col-md-8 col-md-offset-4 col-lg-4">
      <div class="container-white"><ul id="event-list"></ul></div>
      <!-- Event Info Box -->
      <div id="event-info-wrapper" class="container-white"><div id="event-info"></div></div>
    </div>
  </div>
{% endblock %}

{% block paginator_bottom %}
  <div id="paginator-simple" class="text-center">
    <a href="#" id="paginator-show-more" class="paginator-link container-white" type="button" data-target>Show More</a>
  </div>
{% endblock %}

{% block templates %}
  <!-- Event Item Template -->
  <template id="event-item-template">
    <li class="event-wrapper"
      data-pk="{% templatetag openvariable %} pk {% templatetag closevariable %}"
      data-absolute-url="{% templatetag openvariable %} absoluteURL {% templatetag closevariable %}"
      data-name="{% templatetag openvariable %} name {% templatetag closevariable %}"
      data-datetime="{% templatetag openvariable %} dateTime {% templatetag closevariable %}"
      data-location="{% templatetag openvariable %} location {% templatetag closevariable %}"
      data-details="{% templatetag openvariable %} details {% templatetag closevariable %}"
      data-category-name="{% templatetag openvariable %} categoryName {% templatetag closevariable %}"
      data-category-color="{% templatetag openvariable %} categoryColor {% templatetag closevariable %}"
      data-category-pk="{% templatetag openvariable %} categoryPK {% templatetag closevariable %}">
      <div class="dot" style="background-color:{% templatetag openvariable %} categoryColor {% templatetag closevariable %}">
      </div>&nbsp;&nbsp;
      <a href="{% templatetag openvariable %} absoluteURL {% templatetag closevariable %}">
        {% templatetag openvariable %} name {% templatetag closevariable %}
      </a>
    </li>
  </template>
  <!-- Month Header Template -->
  <template id="month-item-template">
    <li class="month-wrapper" data-month="{% templatetag openvariable %} month {% templatetag closevariable %}">
      <div class="month-header">
        <h4>{% templatetag openvariable %}{ monthName }{% templatetag closevariable %}</h4>
      </div>
      <ul class="month-content">{% templatetag openvariable %}{ contents }{% templatetag closevariable %}</ul>
    </li>
  </template>
  <!-- Date Header Template -->
  <template id="date-item-template">
    <li class="date-wrapper" data-date="{% templatetag openvariable %} date {% templatetag closevariable %}">
      <div class="date-header">
        {% templatetag openvariable %}{ date }{% templatetag closevariable %} -
        {% templatetag openvariable %} day {% templatetag closevariable %}
      </div>
      <ul class="date-contents">{% templatetag openvariable %}{ contents }{% templatetag closevariable %}</ul>
    </li>
  </template>
  <!-- Event Info Template -->
  <template id="event-info-template">
    <button id="event-info-dismiss" type="button" class="close"><span>&times;</span></button>
    <ul>
      <li><b>What:</b> {% templatetag openvariable %} name {% templatetag closevariable %}</li>
      <li><b>When:</b> {% templatetag openvariable %} dateTime {% templatetag closevariable %}</li>
      <li><b>Where:</b> {% templatetag openvariable %} location {% templatetag closevariable %}</li>
      <li><b>Details:</b> {% templatetag openvariable %} details {% templatetag closevariable %}</li>
      <li><b>Tag:</b>
        <span class="label" style="background-color:{% templatetag openvariable %} categoryColor {% templatetag closevariable %}">{% templatetag openvariable %} categoryName {% templatetag closevariable %}</span>
      </li>
    </ul>
  </template>
  <template id="info-bar-top-template">
    <li>
      <a href="#" data-pk="{% templatetag openvariable %} pk {% templatetag closevariable %}" title="{% templatetag openvariable %} categoryName {% templatetag closevariable %}" data-toggle="tooltip" data-placement="top" data-trigger="hover">
      <span class="icon-container" style="color:{% templatetag openvariable %} categoryColor {% templatetag closevariable %}">
        <span class="glyphicon glyphicon-tag"></span>
      </span>
      </a>
    </li>
  </template>
{% endblock %}

{% block script %}<script src= "{% static 'events/js/event_list.js' %}"></script>{% endblock %}
