{% extends "main/base.html" %}

{% block title %}Update Announcement{% endblock %}

{% block header %}<h1 class="page-header">Update Announcement</h1>{% endblock %}

{% block content %}

  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">

      <form id="announcement-form" action="{% url 'announcement-update' announcement.pk %}" method="post">{% csrf_token %}
        {{ form.as_p }}
      </form>

      <br />
      <br />

      <div class="row text-center">
        <div class="col-sm-4 col-sm-offset-2">
          <a class="btn btn-lg btn-default" href="{% url 'index' %}">
            <span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>&nbsp;&nbsp;Cancel
          </a>
        </div>
        <div class="col-sm-4">
          <button type="button" id="submit-form" class="btn btn-lg btn-default" role="button">
            <span class="glyphicon glyphicon-log-in" aria-hidden="true"></span>&nbsp;&nbsp;Publish
          </button>
        </div>
      </div>

    </div>
  </div>

{% endblock %}

{% block other %}

  <script>
    $(document).ready(function() {

      $("#submit-form").click(function(e){e.preventDefault();
          var success = true;
          var $inputs = $("input.form-control, textarea.form-control");
          if(!$("#announcement-form")[0].checkValidity()) {
              $inputs.each(function() {
                  if($(this).val().length == 0){
                      $(this).parent().addClass('has-error');
                      $(this).siblings().children().css('border-color', '#a94442');
                      success = false;
                  } else {
                      $(this).parent().removeClass('has-error');
                      $(this).siblings().children().css('border-color', '#ccc');
                  }
              });
          }
          if(success){
              $("#announcement-form").submit();
          }
      });

    });
  </script>

{% endblock%}
