<style>
.announcement-wrapper .edit {
    display:none;
}
.announcement-wrapper.edit .edit {
    display:initial;
}
.announcement-wrapper.edit .noedit {
    display:none;
}
</style>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
<script>
$(document).ready(function() {
    $('#announcement-list').on('click', '.edit-announcement', function() {

        var $announcement = $(this).closest('.announcement-wrapper');
        $announcement.addClass("edit");
        $announcement.find('input.title').val($announcement.find('h1.title').html());
        $announcement.find('input.info').val($announcement.find('p.info').html());
    });

    $('#announcement-list').on('click', '.cancel-announcement', function() {

        var $announcement = $(this).closest('.announcement-wrapper');
        $announcement.removeClass("edit");

    });

    $('#announcement-list').on('click', '.save-announcement', function() {

        var $announcement = $(this).closest('.announcement-wrapper');
        var $title =$announcement.find('input.title').val();
        var $info = $announcement.find('input.info').val();

        $announcement.find('h1.title').html($title);
        $announcement.find('p.info').html($info);
        $announcement.removeClass('edit');

    });
});
</script>
<div id="announcement-list">
    <div class="announcement-wrapper">
        <div class="announcement-container">

            <h1 class="noedit title">This is editable text</h1>
            <div><input class="edit title" type="text"></div>
            <p class="noedit info">This is also editable text</p>
            <div><input class="edit info" type="text"></div>

            <div class="noedit announcement-buttons">
                <button class="edit-announcement">Edit</button>
                <button class="remove-announcement">Remove</button>
            </div>
            <div class="edit announcement-buttons">
                <button class="cancel-announcement">Cancel</button>
                <button class="save-announcement">Save</button>
            </div>
        </div>
    </div>
</div>
