{% extends "main/base.html" %}

{% load static from staticfiles %}

{% block title %}Announcements{% endblock %}

{% block header %}Announcements{% endblock %}

{% block breadcrumb %}
  <li><a href="{% url 'index' %}">Home</a></li>
  <li class="active">Announcements</li>
{% endblock %}

{% block content %}
  <div id="announcement-list">
    {% for announcement in announcements %}
      <div id="{{ announcement.pk }}" class="announcement-wrapper">
        <!-- Announcement Title -->
        <div class="title"><h3><a href="{{ announcement.get_absolute_url }}">{{ announcement.title }}</a></h3></div>
        <!-- Announcement Signature -->
        <div class="signature">
          <i class="fa fa-clock-o"></i>
          <i class="datetime">{{ announcement.date_created|date:'F j' }}, {{ announcement.date_created|time:'P' }}</i> | Tags:
          <span class="category label" style="background-color:{{ announcement.category.color }}">{{ announcement.category }}</span>
        </div><br />
        <!-- Announcement Content -->
        <div class="content">{{ announcement.content }}</div><br />
        <!-- Announcement Images -->
        <div class="row image-thumbnail-container">
          {% for image in announcement.image_files.all %}
            <div class="col-xs-4 col-sm-3 image-thumbnail">
              <a href="{{ image.image_file.url }}"/><div class="nailthumb-container hidden"><img class="img-responsive img-hover image" src="{{ image.image_file.url }}"></div></a>
            </div>
          {% endfor %}
          {% for image in announcement.image_links.all %}
            <div class="col-xs-4 col-sm-3 image-thumbnail">
              <a href="{{ image.image_link }}"/><div class="nailthumb-container hidden"><img class="img-responsive img-hover" src="{{ image.image_link }}"></div></a>
            </div>
          {% endfor %}
        </div><br />
        <div id="collapse-{{ announcement.pk }}" class="collapse">
          <!-- Announcement Videos -->
          {% for video in announcement.youtube_videos.all %}
            <div id="{{ video.pk }}" class="embed-responsive embed-responsive-16by9">
              <iframe class="embed-responsive-item" width="560" height="315" src="https://www.youtube.com/embed/{{ video.youtube_video }}" allowfullscreen></iframe>
            </div><br />
          {% endfor %}
        </div>
        {% if announcement.youtube_videos.all %}
          <!-- Announcement Show More -->
          <div class="show-more text-center" data-toggle="collapse" href="#collapse-{{ announcement.pk }}">Show More</div>
        {% endif %}
      </div>
    {% empty %}
      <h4> Nothing here yet! </h4>
    {% endfor %}
  </div>
{% endblock %}

{% block script %}<script src="{% static 'main/js/announcement_list.js' %}"></script>{% endblock %}
