{% extends "main/base.html" %}

{% load static from staticfiles %}

{% block extrahead %}
  <link href="{% static 'main/css/announcement_list.css'%}" rel="stylesheet">
{% endblock %}

{% block content %}

  <div id="announcement-list">
    {% for announcement in announcements %}
    <div class="announcement-wrapper" id="{{ announcement.pk }}">
      <div class="row">
          <div class="col-xs-1">
          </div>

          <div class="col-xs-10 announcement-container">
              <div class="title noedit">
                  <a href="{{ announcement.pk }}"><h2>{{ announcement.title }}</h2></a>
              </div>
              <div class="title edit">
                  <input required class="form-control" type="text" placeholder="Title..." name="title" value="{{ announcement.title }}">
              </div>

              <hr />

              <div class="content noedit">
                {{ announcement.content }}
              </div>

              <div class="content edit ">
                <textarea required class="form-control" name="content" placeholder="Content..." rows="6">{{ announcement.content }}</textarea>
              </div>

              {% if announcement.image_files.count > 0 or announcement.image_links.count > 0 %}
                <br />
              {% endif %}

              <div class="row">
                {% for image in announcement.image_files.all %}
                  <div id="{{image.pk}}" class="col-xs-6 col-md-4 mmedia" data-id="image_files">
                    <a href="{{ image.image_file.url }}" class="thumbnail">
                      <img class="img-responsive img-hover" src="{{ image.image_file.url }}">
                      <img src="https://cdn3.iconfinder.com/data/icons/line/36/cancel-512.png" class="remove-media edit">
                    </a>
                  </div>
                {% endfor %}

                {% for image in announcement.image_links.all %}
                  <div id="{{ image.pk }}" class="col-xs-6 col-md-4 mmedia" data-id="image_links">
                    <a href="{{ image.image_link }}" class="thumbnail">
                      <img class="img-responsive img-hover" src="{{ image.image_link }}">
                      <img src="https://cdn3.iconfinder.com/data/icons/line/36/cancel-512.png" class="remove-media edit">
                    </a>
                  </div>
                {% endfor %}
              </div>

              {% if announcement.youtube_videos.count > 0 %}
                <br />
              {% endif %}

              {% for video in announcement.youtube_videos.all %}
                <div id="{{ video.pk }}" class="video-wrapper mmedia" data-id="youtube_videos">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/{{ video.youtube_video }}" frameborder="0" allowfullscreen></iframe>
                    <img src="https://cdn3.iconfinder.com/data/icons/line/36/cancel-512.png" class="remove-media edit">
                </div>
              {% endfor %}

              <hr />

              <div class="signature">
                  <i><i class="fa fa-clock-o"></i> Posted by {{ announcement.author }} on {{ announcement.date_created }}</i> |
                  Tags: <span class="label" style="background-color:{{ announcement.category.color }}; font-weight:normal">{{ announcement.category }}</span>
              </div>

              <hr />

              <div class="noedit announcement-buttons">
                  <button class="edit-announcement">Edit</button>
                  <button class="remove-announcement">Remove</button>
              </div>
              <div class="edit announcement-buttons">
                  <button class="cancel-announcement">Cancel</button>
                  <button class="save-announcement">Save</button>
              </div>
          </div>

          <div class="col-xs-1">
            <!-- {% if announcement.category %}
                <div class="category" style="background-color:{{ announcement.category.color }}"></div>
            {% endif %} -->
          </div>

          <div class="ajax">
            <div class="author">{{ announcement.author.pk }}</div>
            <div class="category">{{ announcement.category.pk }}</div>
            <div class="date_created">{{ announcement.date_created }}</div>
            <br />
            <div class="image_links">
              {% for image in announcement.image_links.all %}
              <div class="{{image.pk}}">{{ image.pk }}</div>
              {% endfor %}
            </div>
            <div class="rank">{{ announcement.rank }}</div>
          </div>
      </div>
    </div>
    {% empty %}
      <h4>- No announcements yet. -</h4>
    {% endfor %}
  </div>

  <!-- Pager -->
  <ul class="pager">
      <li class="next">
          <a href="#">Newer &rarr;</a>
      </li>
      <li class="previous">
          <a href="#">&larr; Older</a>
      </li>
  </ul>

{% endblock %}

{% block other %}
  <script src="{% static 'main/js/announcement_list.js' %}"></script>
{% endblock %}
