{% extends "main/base.html" %} {% load static from staticfiles %} {% block extrahead %}
<link href="{% static 'main/css/poll_list.css'%}" rel="stylesheet"> {% endblock %} {% block content %}
<!-- <template id="choice-template">
    <div class="edit">
        <div class="input-group">
            <input data-choice="{{ choice.pk }}" required class="form-control" type="text" placeholder="Choice..." name="choice" value="{{ choice.content }}">
            <span class="input-group-btn">
              <button type="button" class="btn btn-default remove_field"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
            </span>
        </div>
</template> -->
<div id="poll-list" data-user="{{ user.pk }}">
    <h1>Ongoing Polls</h1>
    <hr /> {% for poll in open_polls %}

    <div class="open poll-wrapper" id="{{ poll.pk }}">
        <div class="row">
            <div class="col-xs-10 poll-container">
                <div class="content noedit">
                    <a href="{{ poll.pk }}"><h2>{{ poll.content }}</h2></a>
                </div>
                <div class="content edit">
                    <input required class="form-control" type="text" placeholder="Question..." name="question" value="{{ poll.content}}">
                </div>
                <div class="edit">
                    <br/>
                </div>
                <div class="choices-container">
                {% for choice in poll.choices.all %}
                    <div class="choice">
                        <input data-choice="{{ choice.pk }}" name="{{ poll.pk }}" class="noedit" type="radio" value="{{ choice.content }}">
                        <label class="noedit">{{ choice.content }}</label>
                        <div class="edit">
                            <div class="input-group">
                                <input data-choice="{{ choice.pk }}" required class="form-control" type="text" placeholder="Choice..." name="choice" value="{{ choice.content }}">
                                <span class="input-group-btn">
                                  <button type="button" class="btn btn-default remove_field"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
                                </span>
                            </div>
                        </div>
                    </div>
                {% endfor %}
                </div>
                <div class="noedit poll-buttons">
                    <button class="edit-poll">Edit</button>
                    <button class="close-poll">Close</button>
                    <button class="remove-poll">Remove</button>
                    <button class="submit-poll hide">Submit</button>
                    <button class="resubmit-poll hide">Resubmit</button>

                </div>
                <div class="edit poll-buttons">
                    <button class="cancel-poll">Cancel</button>
                    <button class="save-poll">Save</button>
                    <button style="float: right;" class="add-choice">Add Choice</button>
                </div>
                <hr />

                <!--    <div class="signature">
                <i><i class="fa fa-clock-o"></i> Posted by {{ poll.author }} on {{ poll.date_created }}</i> |
                Tags: <span class="label" style="background-color:{{ poll.category.color }}; font-weight:normal">{{ poll.category }}</span>
            </div>

            <hr />-->
            </div>
        </div>
        <div class="hide">
            <div class="author">{{ poll.author.pk }}</div>
            <div class="category">{{ poll.category.pk }}</div>
            <div class="date_created">{{ poll.date_created }}</div>
            <div class="rank">{{ poll.rank }}</div>
            <div class="is_open">{{ poll.is_open }}</div>
        </div>
    </div>
    {% empty %}
    <h4>~ no ongoing polls</h4>
    {% endfor %}

    <h1>Past Polls</h1>

    <hr /> {% for poll in closed_polls %}

    <div class="closed poll-wrapper" id="{{ poll.pk }}" data-votes="{{ poll.votes.count }}">
        <div class="row">
            <div class="col-xs-10 poll-container">
                <div class="content noedit">
                    <a href="{{ poll.pk }}"><h2>{{ poll.content }}</h2></a>
                </div>
                <div class="progress-bars">
                {% for choice in poll.choices.all %}
                    <label>{{ choice.content }} | {{choice.votes.count}}</label>
                    <div class="progress">
                        <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:0%" data-votes= "{{ choice.votes.count }}">
                        </div>
                    </div>
                    <br />
                {% endfor %}
                </div>
                <div class="poll-buttons">
                    <button class="reopen-poll">Reopen</button>
                    <button class="remove-poll">Remove</button>
                </div>
                <hr />

                <!--    <div class="signature">
                    <i><i class="fa fa-clock-o"></i> Posted by {{ poll.author }} on {{ poll.date_created }}</i> |
                    Tags: <span class="label" style="background-color:{{ poll.category.color }}; font-weight:normal">{{ poll.category }}</span>
                </div>

            <hr />-->

            </div>
        </div>
        <div class="hide">
            <div class="author">{{ poll.author.pk }}</div>
            <div class="category">{{ poll.category.pk }}</div>
            <div class="date_created">{{ poll.date_created }}</div>
            <div class="rank">{{ poll.rank }}</div>
            <div class="is_open">{{ poll.is_open }}</div>
        </div>

    </div>
    {% empty %}
    <h4> ~ no past polls yet.</h4>
    {% endfor %}
</div>

{% endblock %} {% block other %}
<script src="{% static 'main/js/poll_list.js' %}"></script>
{% endblock %}
