{% extends "main/base.html" %}

{% load static from staticfiles %}

{% block title %}Create Poll{% endblock %}

{% block header %}<h1 class="page-header">Create Poll</h1>{% endblock %}

{% block content %}

  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      <form id="poll-form" action="{% url 'poll-create' %}" method="post">{% csrf_token %}

        <div class="row">
          <div class="input-group {% if form.category.errors %}has-error{% endif %}">
            <span class="input-group-addon">Category:</span>
            {{ form.category }}
          </div>
        </div>

        <br />

        <div class="row">
          <div class="{% if form.subject.errors %}has-error{% endif %}">
            {{ form.content }}
          </div>
        </div>

        <br />

        <div class="row text-center">
          <div class="col-sm-10">
            <div class="form-group choices">
            </div>
          </div>
          <div class="col-sm-2">
            <button class="btn btn-default" id="add-choice"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></button>
          </div>
        </div>

        <br />
        <br />

      </form>

      <br />
      <br />

      <div class="row text-center">
        <div class="col-sm-4 col-sm-offset-2">
          <a class="btn btn-lg btn-default" href="{% url 'index' %}">
            <span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>&nbsp;&nbsp;Cancel
          </a>
        </div>
        <div class="col-sm-4">
          <button type="button" id="submit-form" class="btn btn-lg btn-default" role="button">
            <span class="glyphicon glyphicon-log-in" aria-hidden="true"></span>&nbsp;&nbsp;Publish
          </button>
        </div>
      </div>

    </div>
  </div>

{% endblock %}

{% block other %}
  <script src="{% static 'main/js/poll_create.js' %}"></script>
{% endblock%}
