{% extends "main/base.html" %}

{% load static from staticfiles %}

{% block title %}Update Poll{% endblock %}

{% block header %}Update Poll{% endblock %}

{% block content %}

  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">

      <form id="poll-form" action="{% url 'poll-update' poll.pk %}" method="post">{% csrf_token %}
        {{ form.as_p }}
      </form>

      <br />
      <br />

      <div class="row text-center">
        <div class="col-sm-4 col-sm-offset-2">
          <a class="btn btn-lg btn-default" href="{% url 'index' %}">
            <span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>&nbsp;&nbsp;Cancel
          </a>
        </div>
        <div class="col-sm-4">
          <button type="button" id="submit-form" class="btn btn-lg btn-default" role="button">
            <span class="glyphicon glyphicon-log-in" aria-hidden="true"></span>&nbsp;&nbsp;Publish
          </button>
        </div>
      </div>

    </div>
  </div>

{% endblock %}

{% block script %}
  <script src="{% static 'main/js/poll_update.js' %}"></script>
{% endblock%}
