{% extends "main/base_form.html" %}

{% block title %}Create Poll{% endblock %}

{% block header %}Create Poll{% endblock %}

{% block form %}

  <form id="poll-form" action="{% url 'poll_create' %}" method="post">{% csrf_token %}

    <div class="row">
      <div class="col-sm-8">
        <div class="{% if form.subject.errors %}has-error{% endif %}">
          {{ form.content }}
        </div>
      </div>
      <div class="col-sm-4">
        <div class="input-group {% if form.category.errors %}has-error{% endif %}">
          <span class="input-group-addon">Category:</span>
          {{ form.category }}
        </div>
      </div>
    </div>

    <br />
    <br />

    <div class="row">
      <div class="col-sm-11">
        <div class="form-group choices">
        </div>
      </div>
      <div class="col-sm-1">
        <button class="btn btn-default" id="add-choice"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></button>
      </div>
    </div>

    <br />
    <br />

  </form>

    <div class="row text-center">
      <div class="col-md-2 col-md-offset-4">
        <a class="btn btn-lg btn-default" href="{% url 'index' %}"><span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span> Back</a>
      </div>
      <div class="col-md-2">
        <button type="button" id="submit-form" class="btn btn-lg btn-default" role="button"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Publish</button>
      </div>
    </div>

{% endblock %}

{% block other %}
  <script>
    $(document).ready(function() {
      var flavors = [
        "Strawberry",
        "Vanilla",
        "Chocolate",
        "Coffee",
        "Peach",
        "Mango",
        "Pistachio",
        "Cinnamon",
        "Butterscotch",
        "Cheesecake",
        "Eggnog",
        "S'mores",
        "Toffee",
        "White Fudge",
        "Salt Caramel",
        "Black Cherry",
        "Butter Pecan",
        "Green Tea",
        "Cookie Dough",
        "Rocky Road",
        "Rum Raisin",
        "Mint Chocolate Chip",
        "Peppermint Bark",
        "Cookies and Cream"
       ];

      var x = 0;

      $("#add-choice").click(function(e){e.preventDefault();
          if(x < 20){
              var flavor = flavors.splice(Math.floor(Math.random() * flavors.length), 1);
              $(".choices").append(

                '<div class="input-group choice-field">' +
                  '<input type="text" class="form-control" name="choice[]" maxlength="200" placeholder="' + flavor + '">' +
                  '<span class="input-group-btn">' +
                    '<button type="button" class="btn btn-default remove_field" tabindex="-1"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>' +
                  '</span>' +
                '</div>'

              );
              x++;
          }
      });

      $(".choices").on("click",".remove_field", function(e){e.preventDefault();
          flavors.push($(this).parent().siblings('.form-control').attr('placeholder'))
          $(this).closest('.input-group').remove();
          x--;
      });

      $("#submit-form").click(function(e){e.preventDefault();
          $("#poll-form").submit()
      });

      $("#add-choice").click()
      $("#add-choice").click()
      $("#add-choice").click()
      $("#add-choice").click()
    });
  </script>
{% endblock%}
