{% extends "main/base.html" %}

{% load static from staticfiles %}

{% block title %}User Registration{% endblock %}

{% block header %}<h1 class="page-header">User Registration</h1>{% endblock %}

{% block content %}
  <form id="register-form" action="{% url 'register' %}" method="post">{% csrf_token %}
    {{ userForm.as_p }}
    {{ userProfileForm.as_p }}

    <br />
    <br />

    <div class="row text-center">
      <div class="col-sm-4 col-sm-offset-2">
        <a class="btn btn-lg btn-default" href="{% url 'index' %}">
          <span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>&nbsp;&nbsp;Cancel
        </a>
      </div>
      <div class="col-sm-4">
        <button type="button" id="submit-form" class="btn btn-lg btn-default" role="button">
          <span class="glyphicon glyphicon-log-in" aria-hidden="true"></span>&nbsp;&nbsp;Register
        </button>
      </div>
    </div>

  </form>
{% endblock %}

{% block other %}
  <script src="{% static 'main/js/register.js' %}"></script>
{% endblock%}
