{% extends 'base/base_list.html' %}

{% load static from staticfiles %}

{% block title %}Announcements{% endblock %}

{% block masthead_announcements %}selected{% endblock %}

{% block sidebar_announcements %}selected{% endblock %}

{% block sidebar_extra %}
  <hr class="sidebar-divider">
  <ul>
    <div class="sidebar-header"><a href="#">Temp</a></div>
    <li><a href="#" id="show-more-all">
      <span class="icon-container"><span class="glyphicon glyphicon-resize-full"></span></span>
      <span class="display-name">Expand All</span>
    </a></li>
  </ul>
{% endblock %}

{% block paginator_top %}
  <div id="paginator-standard" class="container-white text-center announcement-paginator">
    <a href="#" id="paginator-first" class="paginator-link">First</a
    ><a href="#" id="paginator-previous" class="paginator-link">Previous</a
    ><span id="paginator-page-numbers" data-current-page="1"></span
    ><a href="#" id="paginator-next" class="paginator-link">Next</a
    ><a href="#" id="paginator-last" class="paginator-link">Last</a>
  </div>
{% endblock %}

{% block data %}<div id="page-size" data-page-size="{{ page_size }}" hidden></div>{% endblock %}
{% block content %}
  <div id="announcement-list"></div>
  <!-- <div id="announcement-sidebar-toggle"></div> -->
  <div id="announcement-sidebar-container">
    <div id="announcement-sidebar">
      <ul id="announcement-sidebar-pinned">
        <div class="sidebar-header">
          <a href="#">Pinned</a>
          <!-- TODO: Mark all as read option -->
        </div>
      </ul>
      <hr class="sidebar-divider">
      <ul id="announcement-sidebar-all">
        <div class="sidebar-header">
          <a href="#">All Announcements</a>
          <!-- TODO: Mark all as read option -->
        </div>
        <div id="announcement-sidebar-all-items"></div>
      </ul>
      <hr class="sidebar-divider">
      <ul id="announcement-sidebar-bottom">
        <div class="sidebar-header">
          <a href="#" id="sidebar-show-more">Show More</a>
        </div>
        <div class="sidebar-header">
          <a href="#" id="sidebar-back-to-top">Back to Top</a>
        </div>
      </ul>
    </div>
  </div>
{% endblock %}

{% block paginator_bottom %}
  <div id="paginator-simple" class="text-center">
    <a href="#" id="paginator-show-more" class="paginator-link container-white" type="button" data-target>Show More</a>
  </div>
{% endblock %}


{% block templates %}
  <!-- Sidebar Announcement Link Template -->
  <template id="sidebar-announcement-link-template">
    <li><a href="#" class="announcement-sidebar-link" data-announcement-pk="{% templatetag openvariable %} announcementPK {% templatetag closevariable %}">
      <div class="dot" style="background-color:{% templatetag openvariable %} categoryColor {% templatetag closevariable %}"></div>
      <!-- <span class="icon-container"><span class="glyphicon glyphicon-tag" style="color:{% templatetag openvariable %} categoryColor {% templatetag closevariable %}"></span></span> -->
      <span class="display-name">{% templatetag openvariable %} title {% templatetag closevariable %}</span>
    </a></li>
  </template>
  <!-- Announcement Item Template -->
  <template id="announcement-item-template">
    <!-- <div class="col-xl-4 col-xxl-3" style="float:both"> -->
      <div id="announcement-{% templatetag openvariable %} pk {% templatetag closevariable %}" class="announcement-wrapper container-white" style="border-right: 4px solid {% templatetag openvariable %} categoryColor {% templatetag closevariable %}" data-category-pk="{% templatetag openvariable %} categoryPK {% templatetag closevariable %}">
        <!-- Announcement Title -->
        <div class="title"><h4><a href="{% templatetag openvariable %} absoluteURL {% templatetag closevariable %}"><div>{% templatetag openvariable %} title {% templatetag closevariable %}</div></a></h4></div>
        <!-- Announcement Signature -->
        <div class="signature">
          <span class="fa fa-clock-o"></span>
          <span class="date-created">{% templatetag openvariable %} dateCreated {% templatetag closevariable %},</span>
          <span class="time-created">{% templatetag openvariable %} timeCreated {% templatetag closevariable %}</span> |
          <span>{% templatetag openvariable %} categoryName {% templatetag closevariable %}</span>
        </div>
        <!-- Announcement Content -->
        <div class="content">{% templatetag openvariable %} content {% templatetag closevariable %}</div>
        <!-- Announcement Media -->
        <div class="announcement-media">
          <!-- Announcement Images -->
          <div class="image-list">{% templatetag openvariable %}{ imageList }{% templatetag closevariable %}</div>
          <!-- Announcement Videos -->
          <div class="video-list start-hidden">{% templatetag openvariable %}{ videoList }{% templatetag closevariable %}</div>
        </div>
        <!-- Announcement Show More -->
        <div class="show-more text-center {% templatetag openvariable %} showMore {% templatetag closevariable %}">Show More</div>
      </div>
    <!-- </div> -->
  </template>
  <!-- Image Item Template -->
  <template id="image-item-template">
    <div class="image">
      <a href="{% templatetag openvariable %} imageURL {% templatetag closevariable %}" target="_blank" title="Click to open in new tab"><img src="{% templatetag openvariable %} imageThumbnailURL {% templatetag closevariable %}"></a>
    </div>
  </template>
  <!-- Video Data Template -->
  <template id="video-data-template">
    <li data-video-id="{% templatetag openvariable %} videoID {% templatetag closevariable %}" hidden></li>
  </template>
  <!-- Video Item Template -->
  <template id="video-item-template">
    <div class="embed-responsive embed-responsive-16by9 video"><iframe class="embed-responsive-item" src="https://www.youtube.com/embed/{% templatetag openvariable %} videoID {% templatetag closevariable %}" allowfullscreen></iframe></div>
  </template>
{% endblock %}

{% block script %}<script src="{% static 'announcements/js/announcement_list.js' %}"></script>{% endblock %}
