{% extends 'base/base.html' %}

{% load static from staticfiles %}

{% block title %}Announcement Detail{% endblock %}

{% block masthead_announcements %}selected{% endblock %}

{% block sidebar_announcements %}selected{% endblock %}

{% block sidebar_extra %}
  <hr class="sidebar-divider">
  <ul id="sidebar-admin-announcement">
    <a href="#" class="sidebar-header">Announcement</a>
    <li><a href="{% url 'announcements:update' announcement.pk %}">
      <span class="icon-container"><span class="glyphicon glyphicon-pencil"></span></span>
      <span class="display-name">Make Changes</span>
    </a></li>
    <li><a href="#">
      <span class="icon-container"><span class="glyphicon glyphicon-remove"></span></span>
      <span class="display-name">Delete</span>
    </a></li>
  </ul>
{% endblock %}

{% block content %}
  <div id="announcement-{{ announcement.pk }}" class="announcement-wrapper container-white" style="border-left: 5px solid {{ announcement.category.color|default:'#222222' }}" data-category-pk="{{ announcement.category.pk }}">
    <div class="signature">
      <!-- Announcement Title -->
      <span><a style="font-size: 16px; font-weight: 500" href="{% url 'announcements:list' %}"><div>{{ announcement.title }}</div></a></span> &bull;
      <!-- Announcement Signature -->
      <span>{{ announcement.category|default_if_none:'General' }}</span>
      <span class="date-created" style="float:right; margin:3px 0px;">{{ announcement.date_created|date:'M j' }}</span>
        <!-- <span class="time-created">{% templatetag openvariable %} timeCreated {% templatetag closevariable %}</span> -->
    </div>
    <!-- Announcement Content -->
    <div class="content">{{ announcement.content }}</div>
    <!-- Announcement Media -->
    <div class="announcement-media">
      <!-- Announcement Images -->
      <div class="image-list">
        {% for image in announcement.image_files.all %}<div class="image"><a href="{{ image.image_file.url }}" target="_blank" title="Click to open in new tab"><img src="{{ image.image_file_thumbnail.url }}"></a></div>{% endfor %}{% for image in announcement.image_links.all %}<div class="image"><a href="{{ image.image_link }}" target="_blank" title="Click to open in new tab"><img src="{{ image.image_file_thumbnail.url }}"></a></div>{% endfor %}
      </div>
      <!-- Announcement Videos -->
      <div class="video-list">
        {% for video in announcement.youtube_videos.all %}
          <div class="embed-responsive embed-responsive-16by9 video"><iframe class="embed-responsive-item" src="https://www.youtube.com/embed/{{ video.youtube_video }}" allowfullscreen></iframe></div>
        {% endfor %}
      </div>
    </div>
  </div>
{% endblock %}
