<!-- HTML poll_list.html -->

{% extends 'base/base_list.html' %}

{% load static from staticfiles %}

{% block title %}Polls{% endblock %}

{% block masthead_polls %}selected{% endblock %}

{% block masthead_bottom_right %}
   <button><span id="toggle-right-sidebar" class="icon-container"><span class="glyphicon glyphicon-option-vertical"></span></span></button>
{% endblock %}

{% block sidebar_filter %}
  <hr class="sidebar-divider">
  <ul id="sidebar-filter">
    <div class="sidebar-header">
      <a href="#">Filter</a>
      <span id="sidebar-filter-feedback" class="alert-success">
        <span class="icon-container"><span class="glyphicon glyphicon-saved"></span></span>
      </span>
      <a href="#" id="sidebar-filter-apply">Apply</a>
      <a href="#" id="sidebar-filter-reset">Reset</a>
    </div>
    {% for category in categories_shown %}
      <li><a href="#" class="sidebar-filter-option" data-pk="{{ category.pk }}">
        <span class="icon-container" style="color:{{ category.color }}"><span class="glyphicon glyphicon-tag"></span></span>
        <span class="display-name">{{ category.name }}</span>
      </a></li>
    {% endfor %}
    {% for category in categories_hidden_polls %}
      <li><a href="#" class="sidebar-filter-option filter-applied" data-pk="{{ category.pk }}">
        <span class="icon-container" style="color:{{ category.color }}"><span class="glyphicon glyphicon-tag"></span></span>
        <span class="display-name">{{ category.name }}</span>
      </a></li>
    {% endfor %}
  </ul>
{% endblock %}

{% block sidebar_polls %}selected{% endblock %}

{% block info_bar_top %}
  <div id="info-bar-top" class="container-white text-center">
    <ul>
      <button id="info-bar-top-dismiss" type="button" class="close"><span>&times;</span></button>
      <span>Hidden: </span>
      <span id="info-bar-top-content">
        {% for category in categories_hidden_polls %}<li><a href="#" data-pk="{{ category.pk }}" title="{{ category.name }}" data-toggle="tooltip" data-placement="top" data-animation="false">
          <span class="icon-container" style="color:{{ category.color }}"><span class="glyphicon glyphicon-tag"></span></span>
          <!-- <span class="display-name">{{ category.name }}</span> -->
          </a></li>
        {% endfor %}
      </span>
    </ul>
  </div>
{% endblock %}

{% block paginator_top %}
  <div id="paginator-standard" class="container-white text-center poll-paginator">
    <a href="#" id="paginator-first" class="paginator-link">First</a
    ><a href="#" id="paginator-previous" class="paginator-link">Previous</a
    ><span id="paginator-page-numbers" data-current-page="1"></span
    ><a href="#" id="paginator-next" class="paginator-link">Next</a
    ><a href="#" id="paginator-last" class="paginator-link">Last</a>
  </div>
{% endblock %}

{% block data %}<div id="page-size" data-page-size="{{ page_size }}" hidden></div>{% endblock %}

{% block content %}
  <div id="poll-list"></div>
  <div id="poll-sidebar-container">
    <div id="poll-sidebar">
      <ul id="poll-sidebar-poll-list-status">
        <div class="sidebar-header">
          <a id="show-new-polls" href="#">New</a> &bull;
          <a id="show-voted-polls" href="#">Voted</a> &bull;
          <a id="show-closed-polls" href="#">Closed</a>
        </div>
      </ul>
      <hr class="sidebar-divider">
      <ul id="poll-sidebar-pinned">
        <div class="sidebar-header">
          <a href="#">Pinned</a>
          <!-- TODO: Mark all as read option -->
        </div>
      </ul>
      <hr class="sidebar-divider">
      <ul id="poll-sidebar-all">
        <div class="sidebar-header">
          <a href="#">All Polls</a>
          <!-- TODO: Mark all as read option -->
        </div>
        <div id="poll-sidebar-all-items"></div>
      </ul>
      <hr class="sidebar-divider">
      <ul id="poll-sidebar-bottom">
        <div class="sidebar-header">
          <a href="#" id="sidebar-show-more">Show More</a>
        </div>
        <div class="sidebar-header">
          <a href="#" id="sidebar-back-to-top">Back to Top</a>
        </div>
      </ul>
    </div>
  </div>
{% endblock %}

{% block paginator_bottom %}
  <div id="paginator-simple" class="text-center" style="display:none">
    <a href="#" id="paginator-show-more" class="paginator-link container-white" type="button" data-target>Show More</a>
  </div>
{% endblock %}

{% block templates %}
	<!-- Sidebar Poll Link Template -->
  <template id="sidebar-poll-link-template">
    <li><a href="#" class="poll-sidebar-link" data-pk="{% templatetag openvariable %} pk {% templatetag closevariable %}">
      <div class="dot" style="background-color:{% templatetag openvariable %} categoryColor {% templatetag closevariable %}"></div>
      <!-- <span class="icon-container"><span class="glyphicon glyphicon-tag" style="color:{% templatetag openvariable %} categoryColor {% templatetag closevariable %}"></span></span> -->
      <span class="display-name">{% templatetag openvariable %} content {% templatetag closevariable %}</span>
    </a></li>
  </template>
  <!-- Poll Item Template -->
  <template id="poll-item-template">
    <div id="poll-{% templatetag openvariable %} pk {% templatetag closevariable %}" class="poll-wrapper container-white" data-pk="{% templatetag openvariable %} pk {% templatetag closevariable %}" style="border-left: 5px solid {% templatetag openvariable %} categoryColor {% templatetag closevariable %}">
      <!-- Poll Content -->
      <div class="content"><h4><a href="{% templatetag openvariable %} absoluteURL {% templatetag closevariable %}" style="font-size:16px; font-weight:500"><div>{% templatetag openvariable %} content {% templatetag closevariable %}</div></a></h4></div>
      <!-- Poll Choices -->
      <div class="choice-container">{% templatetag openvariable %}{ choices }{% templatetag closevariable %}</div>
      <div class="row">
        <div class="col-xs-6">
          <!-- Poll Signature -->
          <div class="signature">
            <span>{% templatetag openvariable %} categoryName {% templatetag closevariable %}</span> &bull;
            <span class="date-open">{% templatetag openvariable %} dateOpen {% templatetag closevariable %}</span>
            <!-- <span class="date-open">{% templatetag openvariable %} dateOpen {% templatetag closevariable %},</span>
            <span class="time-open">{% templatetag openvariable %} timeOpen {% templatetag closevariable %}</span> -->
          </div>
        </div>
        <div class="col-xs-6">
          <!-- Buttons -->
          <div class="poll-buttons text-right {% templatetag openvariable %} voteButtonHiddenClass {% templatetag closevariable %}">
            <button type="button" class="btn btn-custom btn-sm poll-vote">{% templatetag openvariable %} buttonAction {% templatetag closevariable %}</button>
          </div>
        </div>
      </div>
    </div>
  </template>
	<!-- Choice Option Template -->
	<template id="choice-option-template">
    <div class="choice-option-wrapper row">
      <div class="col-xs-1 text-right">
        <input id="choice-{% templatetag openvariable %} choicePK {% templatetag closevariable %}" type="radio" name="poll-{% templatetag openvariable %} pollPK {% templatetag closevariable %}" value="{% templatetag openvariable %} choicePK {% templatetag closevariable %}">
      </div>
      <div class="col-xs-11">
        <label for="choice-{% templatetag openvariable %} choicePK {% templatetag closevariable %}" class="poll-choice-label">{% templatetag openvariable %} choiceContent {% templatetag closevariable %}</label>
      </div>
    </div>
	</template>
  <!-- Choice Result Template -->
  <template id="choice-result-template">
    <div class="choice-result-wrapper row">
      <div class="col-sm-8">
        <div class="my-progress-bar" data-votes="{% templatetag openvariable %} voteCount {% templatetag closevariable %}">
          <div id="progress-{% templatetag openvariable %} choicePK {% templatetag closevariable %}" class="my-progress-bar-fill" style="width:{% templatetag openvariable %} widthPercent {% templatetag closevariable %}%"></div>
          <span class="choice-result-content">{% templatetag openvariable %} choiceContent {% templatetag closevariable %}</span>
        </div>
      </div>
      <div class="col-sm-4 text-center">
        <div class="choice-vote-count">{% templatetag openvariable %} voteCount {% templatetag closevariable %} votes ({% templatetag openvariable %} votePercent {% templatetag closevariable %}%)</div>
      </div>
    </div>
	</template>
  <!-- Info Bar Top Teamplte -->
  <template id="info-bar-top-template">
    <li>
      <a href="#" data-pk="{% templatetag openvariable %} pk {% templatetag closevariable %}" title="{% templatetag openvariable %} categoryName {% templatetag closevariable %}" data-toggle="tooltip" data-placement="top" data-trigger="hover">
      <span class="icon-container" style="color:{% templatetag openvariable %} categoryColor {% templatetag closevariable %}">
        <span class="glyphicon glyphicon-tag"></span>
      </span>
      </a>
    </li>
  </template>
{% endblock %}

{% block script %}<script src="{% static 'polls/js/poll_list.js' %}"></script>{% endblock %}
