{% extends 'base/base.html' %}

{% load static from staticfiles %}

{% block title %}Poll Detail{% endblock %}

{% block masthead_polls %}selected{% endblock %}

{% block sidebar_polls %}selected{% endblock %}

{% block sidebar_extra %}
  <hr class="sidebar-divider">
  <ul id="sidebar-admin-poll">
    <a href="#" class="sidebar-header">Poll</a>
    <li><a href="{% url 'polls:update' poll.pk %}">
      <span class="icon-container"><span class="glyphicon glyphicon-pencil"></span></span>
      <span class="display-name">Make Changes</span>
    </a></li>
    <li><a href="#">
      <span class="icon-container"><span class="glyphicon glyphicon-remove"></span></span>
      <span class="display-name">Delete</span>
    </a></li>
  </ul>
{% endblock %}

{% block content %}
  <div id="poll-{{ poll.pk }}"class="poll-wrapper container-white" data-pk="{{ poll.pk }}" style="border-left: 5px solid {{ poll.category.color|default:'#222222' }}">
    <!-- Poll Content -->
    <div class="content"><h4><a href="{% url 'polls:list' %}" style="font-size:16px; font-weight:500"><div>{{ poll.content }}</div></a></h4></div>
    <!-- Poll Choices -->
    <div class="choice-container">
      {% for choice in poll.choices.all %}
        <div class="choice-option-wrapper row">
          <div class="col-xs-1 text-right">
            <input id="choice-{{ choice.pk }}" type="radio" name="poll-{{ poll.pk }}" value="{{ choice.pk }}">
          </div>
          <div class="col-xs-11">
            <label for="choice-{{ choice.pk }}" class="poll-choice-label">{{ choice.content }}</label>
          </div>
        </div>
      {% endfor %}
    </div>
    <div class="row">
      <div class="col-xs-6">
        <!-- Poll Signature -->
        <div class="signature">
          <span>{{ poll.category|default_if_none:'General' }}</span> &bull;
          <span class="date-open">{{ poll.date_open|date:'M j' }}</span>
        </div>
      </div>
      <div class="col-xs-6">
        <!-- Buttons -->
        <div class="poll-buttons text-right">
          <button type="button" class="btn btn-custom btn-sm poll-vote">Vote</button>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
