<!-- HTML poll_list.html -->

{% extends 'base/base_list.html' %}

{% load static from staticfiles %}

{% block title %}Polls{% endblock %}

{% block masthead_polls %}selected{% endblock %}

{% block sidebar_polls %}selected{% endblock %}

{% block paginator_top %}
  <div id="paginator-standard" class="container-white text-center poll-paginator">
    <a href="#" id="paginator-first" class="paginator-link">First</a
    ><a href="#" id="paginator-previous" class="paginator-link">Previous</a
    ><span id="paginator-page-numbers" data-current-page="1"></span
    ><a href="#" id="paginator-next" class="paginator-link">Next</a
    ><a href="#" id="paginator-last" class="paginator-link">Last</a>
  </div>
{% endblock %}

{% block data %}<div id="page-size" data-page-size="{{ page_size }}" hidden></div>{% endblock %}

{% block content %}
  <div id="poll-list"></div>
  <div id="poll-sidebar-container">
    <div id="poll-sidebar">
      <ul id="poll-sidebar-poll-list-status">
        <div class="sidebar-header">
          <a id="show-new-polls" href="#">New</a> &bull;
          <a id="show-voted-polls" href="#">Voted</a> &bull;
          <a id="show-closed-polls" href="#">Closed</a>
        </div>
      </ul>
      <hr class="sidebar-divider">
      <ul id="poll-sidebar-pinned">
        <div class="sidebar-header">
          <a href="#">Pinned</a>
          <!-- TODO: Mark all as read option -->
        </div>
      </ul>
      <hr class="sidebar-divider">
      <ul id="poll-sidebar-all">
        <div class="sidebar-header">
          <a href="#">All Polls</a>
          <!-- TODO: Mark all as read option -->
        </div>
        <div id="poll-sidebar-all-items"></div>
      </ul>
      <hr class="sidebar-divider">
      <ul id="poll-sidebar-bottom">
        <div class="sidebar-header">
          <a href="#" id="sidebar-show-more">Show More</a>
        </div>
        <div class="sidebar-header">
          <a href="#" id="sidebar-back-to-top">Back to Top</a>
        </div>
      </ul>
    </div>
  </div>
{% endblock %}

{% block paginator_bottom %}
  <div id="paginator-simple" class="text-center">
    <a href="#" id="paginator-show-more" class="paginator-link container-white" type="button" data-target>Show More</a>
  </div>
{% endblock %}

{% block templates %}
	<!-- Sidebar Poll Link Template -->
  <template id="sidebar-poll-link-template">
    <li><a href="#" class="poll-sidebar-link" data-poll-pk="{% templatetag openvariable %} pollPK {% templatetag closevariable %}">
      <div class="dot" style="background-color:{% templatetag openvariable %} categoryColor {% templatetag closevariable %}"></div>
      <!-- <span class="icon-container"><span class="glyphicon glyphicon-tag" style="color:{% templatetag openvariable %} categoryColor {% templatetag closevariable %}"></span></span> -->
      <span class="display-name">{% templatetag openvariable %} content {% templatetag closevariable %}</span>
    </a></li>
  </template>
  <!-- Poll Item Template -->
  <template id="poll-item-template">
    <div id="poll-{% templatetag openvariable %} pk {% templatetag closevariable %}" class="poll-wrapper container-white" style="border-left: 4px solid {% templatetag openvariable %} categoryColor {% templatetag closevariable %}">
      <!-- Poll Content -->
      <div class="content"><h4><a href="{% templatetag openvariable %} absoluteURL {% templatetag closevariable %}"><div>{% templatetag openvariable %} content {% templatetag closevariable %}</div></a></h4></div>
      <!-- Poll Signature -->
      <div class="signature">
        <span class="fa fa-clock-o"></span>
        <span class="date-open">{% templatetag openvariable %} dateOpen {% templatetag closevariable %},</span>
        <span class="time-open">{% templatetag openvariable %} timeOpen {% templatetag closevariable %}</span> |
        <span>{% templatetag openvariable %} categoryName {% templatetag closevariable %}</span>
      </div>
      <!-- Poll Choices -->
      <div class="choice-container">{% templatetag openvariable %}{ choices }{% templatetag closevariable %}</div>
			<!-- Buttons -->
      <div class="poll-buttons text-right">
        <button type="button" class="btn btn-custom btn-sm submit-poll">Submit</button>
        <button type="button" class="btn btn-default btn-sm change-vote disabled">Change Vote</button>
      </div>
    </div>
  </template>
	<!-- Choice Option Template -->
	<template id="choice-option-template">
    <div class="choice-option-wrapper row">
      <div class="col-sm-1 text-right">
        <input id="choice-{% templatetag openvariable %} choicePK {% templatetag closevariable %}" type="radio" name="poll-{% templatetag openvariable %} pollPK {% templatetag closevariable %}" value="{% templatetag openvariable %} choicePK {% templatetag closevariable %}">
      </div>
      <div class="col-sm-11">
        <label for="choice-{% templatetag openvariable %} choicePK {% templatetag closevariable %}" class="poll-choice-label">{% templatetag openvariable %} choiceContent {% templatetag closevariable %}</label>
      </div>
    </div>
	</template>
  <!-- Choice Result Template -->
  <template id="choice-result-template">
    <div class="choice-result-wrapper">
      <div class="my-progress-bar" title="{% templatetag openvariable %} voteCount {% templatetag closevariable %}"
        data-toggle="tooltip"
        data-placement="top"
        data-votes="{% templatetag openvariable %} voteCount {% templatetag closevariable %}">
        <div id="progress-{% templatetag openvariable %} choicePK {% templatetag closevariable %}" class="my-progress-bar-fill" style="width:{% templatetag openvariable %} widthPercent {% templatetag closevariable %}%"></div>
        <span class="choice-result-content">{% templatetag openvariable %} choiceContent {% templatetag closevariable %}</span>
      </div>
    </div>
	</template>
{% endblock %}

{% block script %}<script src="{% static 'polls/js/poll_list.js' %}"></script>{% endblock %}
