{% extends 'base/base_register.html' %}

{% load static from staticfiles %}

{% block title %}Student Registration{% endblock %}

{% block header %}Student Registration{% endblock %}

{% block masthead_bottom %}
  {{ block.super }}
  <li><a href="#" class="selected">Student Registration</a></li>
{% endblock %}

{% block sidebar_student_register %}selected{% endblock %}

{% block register_form_id %}student-register-form{% endblock %}
{% block register_form_url %}{% url 'accounts:register-student' %}{% endblock %}
{% block submit_button_id %}submit-student-register-form{% endblock %}
{% block submit_button_text %}Create Student Account{% endblock %}

{% block register_form_extra_fields %}
  <div class="row">
    <div class="col-xs-2"><div class="form-label">Student ID</div></div>
    <div class="col-xs-10">
      <div class="has-feedback {% if studentProfileForm.student_id.errors %}has-error{% elif studentProfileForm.is_bound %}has-success{% endif %}" title="{{ studentProfileForm.student_id.errors.as_text }}" data-toggle="tooltip" data-placement="right" data-trigger="focus">
        {{ studentProfileForm.student_id }}
        {% if studentProfileForm.student_id.errors %}<span class="glyphicon glyphicon-remove form-control-feedback"></span>
        {% elif studentProfileForm.is_bound %}<span class="glyphicon glyphicon-ok form-control-feedback"></span>{% endif %}
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-2"><div class="form-label">Grade Level</div></div>
    <div class="col-xs-10">
      <div class="has-feedback {% if studentProfileForm.grade_level.errors %}has-error{% elif studentProfileForm.is_bound %}has-success{% endif %}" title="{{ studentProfileForm.grade_level.errors.as_text }}" data-toggle="tooltip" data-placement="right" data-trigger="focus">
        {{ studentProfileForm.grade_level }}
        {% if studentProfileForm.grade_level.errors %}<span class="glyphicon glyphicon-remove form-control-feedback"></span>
        {% elif studentProfileForm.is_bound %}<span class="glyphicon glyphicon-ok form-control-feedback"></span>{% endif %}
      </div>
    </div>
  </div>
{% endblock %}
