{% extends 'base/base_register.html' %}

{% load static from staticfiles %}

{% block title %}Teacher Registration{% endblock %}

{% block header %}Teacher Registration{% endblock %}

{% block masthead_bottom %}
  {{ block.super }}
  <li><a href="#" class="selected">Teacher Registration</a></li>
{% endblock %}

{% block sidebar_teacher_register %}selected{% endblock %}

{% block register_form_id %}teacher-register-form{% endblock %}
{% block register_form_url %}{% url 'accounts:register-teacher %}{% endblock %}
{% block submit_button_id %}submit-teacher-register-form{% endblock %}
{% block submit_button_text %}Create Teacher Account{% endblock %}

{% block register_form_extra_fields %}
  <div class="row">
    <div class="col-xs-2"><div class="form-label">Room Number</div></div>
    <div class="col-xs-10">
      <div class="has-feedback {% if teacherProfileForm.room.errors %}has-error{% elif teacherProfileForm.is_bound %}has-success{% endif %}" title="{{ teacherProfileForm.room.errors.as_text }}" data-toggle="tooltip" data-placement="right" data-trigger="focus">
        {{ teacherProfileForm.room }}
        {% if teacherProfileForm.room.errors %}<span class="glyphicon glyphicon-remove form-control-feedback"></span>
        {% elif teacherProfileForm.is_bound %}<span class="glyphicon glyphicon-ok form-control-feedback"></span>{% endif %}
      </div>
    </div>
  </div>
{% endblock %}
