{% extends 'base/base.html' %}

{% load static from staticfiles %}

{% block title %}Categories{% endblock %}

{% block header %}Categories{% endblock %}

{% block masthead_bottom %}
  <li><a href="{% url 'announcements:list' %}">Announcements</a></li>
  <li><a href="{% url 'events:list' %}">Events</a></li>
  <li><a href="{% url 'polls:list' %}">Polls</a></li>
{% endblock %}

{% block sidebar_category_merge %}selected{% endblock %}

{% block content %}
      <div class="container-white">
        <form action="{% url 'categories:merge' %}" method="post">{% csrf_token %}
          <div id ="category-merge-form" class="row">
            <!-- Category List -->
            <div class="col-sm-6">
              <h5 id="left-instruction">Select categories to merge.</h5>
              <div id="categories" class="form-group"></div>
            </div>

            <div class="col-sm-6">
              <h5 id="right-instruction">Set New Name and Color</h5>
                <!-- Merged Category Name -->
                <div class="row">
                  <div class="col-sm-2">
                    <div class="form-label">Name</div>
                  </div>
                  <div class="col-sm-10">
                    <input id="category-new-name" type="text" class="form-control category-name-input"
                      name="category-{% templatetag openvariable %} index {% templatetag closevariable %}"
                      placeholder="Category Name" maxlength="30" required>
                  </div>
                </div>
                <!-- Merged Category Color -->
                <div class-"row">
                  <div class="col-sm-2">
                    <div class="form-label">Color</div>
                  </div>
                  <div class="col-sm-10">
                    <input id="category-new-color" required type="color" class="form-control btn btn-default" maxlength="7"
                      list="datalist-color-choices"
                      name="category-{% templatetag openvariable %} index {% templatetag closevariable %}"
                      value="{% templatetag openvariable %} color {% templatetag closevariable %}"
                      data-old-value="{% templatetag openvariable %} color {% templatetag closevariable %}">
                  </div>
                </div>
              </div>
            </div>
            <!-- Buttons -->
            <div class="row text-right">
                <a class="btn btn-sm btn-default" href="{% block cancel_button_target_url %}{% url 'base:index' %}{% endblock %}">Cancel</a>
                <a id="continue-category-merge" class="btn btn-sm btn-primary">Continue</a>
                <a id="submit-merge-category-form" class="btn btn-sm btn-primary hide">Merge</a>
            </div>
          </form>
        </div>


  <!-- Color Choices -->
  <datalist id="datalist-color-choices">
    <option>#f2f3f4</option><option>#f3c300</option><option>#875692</option>
    <option>#f38400</option><option>#a1caf1</option><option>#be0032</option>
    <option>#c2b280</option><option>#848482</option><option>#008856</option>
    <option>#e68fac</option><option>#0067a5</option><option>#f99379</option>
    <option>#604e97</option><option>#f6a600</option><option>#b3446c</option>
    <option>#dcd300</option><option>#882d17</option><option>#8db600</option>
    <option>#654522</option><option>#e25822</option><option>#2b3d26</option>
  </datalist>
{% endblock %}

{% block templates %}
  <template id="confirm-merge-template">
    <div class="row">
      <!-- Category List -->
      <div id="selected-categories" class="col-sm-4"></div>
      <div class="col-sm-4"><h5>Will be merged into</h5></div>
      <div class="col-sm-4">
        <span id="category-new-color" class="icon-container" style="color:{% templatetag openvariable %} newColor {% templatetag closevariable %};" data-color="{% templatetag openvariable %} newColor {% templatetag closevariable %}"><span class="glyphicon glyphicon-tag"></span></span><label id="category-new-name" style="font-weight:normal;" class="category-label">{% templatetag openvariable %} newName {% templatetag closevariable %}</label>
      </div>
    </div>
  </template>
  <template id="old-category-template">
      <div class="row">
        <div class="col-sm-1 text-right">
          <input id="category-{% templatetag openvariable %} pk {% templatetag closevariable %}" type="checkbox" value="{% templatetag openvariable %} pk {% templatetag closevariable %}" data-name="{% templatetag openvariable %} name {% templatetag closevariable %}" data-color="{% templatetag openvariable %} color {% templatetag closevariable %}">
        </div>
        <div class="col-sm-11">
          <span class="icon-container" style="color:{% templatetag openvariable %} color {% templatetag closevariable %};"><span class="glyphicon glyphicon-tag"></span></span><label style="font-weight:normal;"for="category-{% templatetag openvariable %} pk {% templatetag closevariable %}" class="category-label">{% templatetag openvariable %} name {% templatetag closevariable %}</label>
        </div>
      </div>
  </template>
  <template id="new-category-template">
      <div class="row" data-pk="{% templatetag openvariable %} pk {% templatetag closevariable %}">
        <span class="icon-container" style="color:{% templatetag openvariable %} color {% templatetag closevariable %};"><span class="glyphicon glyphicon-tag"></span></span><label style="font-weight:normal;"for="category-{% templatetag openvariable %} pk {% templatetag closevariable %}" class="category-label">{% templatetag openvariable %} name {% templatetag closevariable %}</label>
      </div>
  </template>
{% endblock %}

{% block script %}<script src="{% static 'categories/js/category_merge.js' %}"></script>{% endblock %}
