{% extends "main/announcement_form.html" %}

{% load static from staticfiles %}

{% block title %}Create Announcement{% endblock %}

{% block sidebar_announcement_create %}selected{% endblock %}

{% block form_id %}announcement-create-form{% endblock %}{% block form_url %}{% url 'announcement-create' %}{% endblock %}

{% block image_file_preview %}
  <!-- Image Preview -->
  <div class="image-list form"><span id="image-files-preview"></span></div>
{% endblock %}

{% block image_link_preview %}
  <!-- Image Preview -->
  <div class="image-list form"><span id="image-links-preview"></span></div>
{% endblock %}

{% block youtube_video_preview %}
  <!-- YouTube Video Preview -->
  <div id="youtube-videos-preview"></div>
{% endblock %}

{% block submit_button_id %}submit-announcement-create-form{% endblock %}
