{% extends "main/base_list.html" %}

{% load static from staticfiles %}

{% block title %}Announcements{% endblock %}

{% block header %}Announcements{% endblock %}

{% block breadcrumb %}
  <li><a href="{% url 'index' %}">Home</a></li>
  <li class="active">Announcements</li>
{% endblock %}

{% block content %}
  <div id="announcement-list">
    {% for announcement in announcements %}
      <div class="announcement-wrapper">
        <!-- Announcement Title -->
        <div class="title"><h3><a href="{{ announcement.get_absolute_url }}">{{ announcement.title }}</a></h3></div>
        <!-- Announcement Signature -->
        <div class="signature">
          <span class="fa fa-clock-o"></span>
          <span class="datetime">{{ announcement.date_created|date:'F j' }}, {{ announcement.date_created|time:'P' }}</span>
          | Tags: <span class="label" style="background-color:{{ announcement.category.color|default:'#222222' }}">{{ announcement.category|default_if_none:'Everyone' }}</span>
        </div><br />
        <!-- Announcement Content -->
        <div class="content">{{ announcement.content }}</div><br />
        <!-- Announcement Images -->
        <div class="image-list">
          {% for image in announcement.image_files.all %}<div class="image"><a href="{{ image.image_file.url }}" target="_blank"/><img src="{{ image.image_file_thumbnail.url }}"></a></div>{% endfor %}{% for image in announcement.image_links.all %}<div class="image"><a href="{{ image.image_link }}" target="_blank"/><img src="{{ image.image_file_thumbnail.url }}"></a></div>{% endfor %}
        </div><br />
        <!-- Announcement Videos -->
        <div id="collapse-{{ announcement.pk }}" class="collapse">
          {% for video in announcement.youtube_videos.all %}
            <div class="embed-responsive embed-responsive-16by9"><iframe class="embed-responsive-item" src="https://www.youtube.com/embed/{{ video.youtube_video }}" allowfullscreen></iframe></div><br />
          {% endfor %}
        </div>
        <!-- Announcement Show More -->
        {% if announcement.youtube_videos.all %}<div class="text-center toggle-collapse" data-toggle="collapse" href="#collapse-{{ announcement.pk }}">Show More</div>{% endif %}
      </div>
    {% endfor %}
  </div>
{% endblock %}

{% block sidebar %}
  {{ block.super }}
  <button id="toggle-collapse-all" class="btn btn-default" type="button" data-mode="0">Expand All</button><br/>
{% endblock %}

{% block script %}<script src="{% static 'main/js/announcement_list.js' %}"></script>{% endblock %}
