{% extends "main/base.html" %}

{% load static from staticfiles %}

{% block title %}Update Announcement{% endblock %}

{% block header %}Update Announcement{% endblock %}

{% block breadcrumb %}
  <li><a href="{% url 'index' %}">Home</a></li>
  <li><a href="{% url 'announcement-list' %}">Announcements</a></li>
  <li><a href="{{ announcement.get_absolute_url }}">{{ announcement }}</a></li>
  <li class="active">Update</li>
{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-sm-10 col-sm-offset-1">
      <form id="announcement-update-form" action="{% url 'announcement-update' announcement.pk %}" enctype="multipart/form-data" method="post" >{% csrf_token %}
        <!-- Announcement Title -->
        <div class="{% if form.subject.errors %}has-error{% endif %}">{{ form.title }}</div><br />
        <!-- Announcement Content -->
        <div class="{% if form.content.errors %}has-error{% endif %}">{{ form.content }}</div><br />
        <!-- Media tabs -->
        <ul class="nav nav-tabs" role="tablist">
          <li class="active"><a href="#image-files" data-toggle="tab">Image Files</a></li>
          <li><a href="#image-links" data-toggle="tab">Image Links</a></li>
          <li><a href="#youtube-videos" data-toggle="tab">YouTube Videos</a></li>
        </ul><br />
        <!-- Media tab panes -->
        <div class="tab-content">
          <!-- Image Files -->
          <div id="image-files" class="tab-pane fade in active">
            <input id="image-files-add" type="file" name="image-files" accept="image/*" multiple/><br />
            <div id="image-files-existing" class="row">
              {% for image in announcement.image_files.all %}
                <div class="col-xs-4 col-sm-3 image-thumbnail">
                  <a href="{{ image.image_file.url }}" target="_blank"/>
                    <img class="img-responsive img-hover image" src="{{ image.image_file_thumbnail.url }}">
                  </a>
                </div>
              {% endfor %}
            </div>
            <div id="image-files-preview" class="row"></div>
          </div>
          <!-- Image Links -->
          <div id="image-links" class="tab-pane fade">
            <input id="image-links-add" type="url" class="form-control" name="image-links" placeholder="Paste your image URL here"><br />
            <div id="image-links-existing" class="row">
              {% for image in announcement.image_links.all %}
                <div class="col-xs-4 col-sm-3 image-thumbnail">
                  <a href="{{ image.image_link }}" target="_blank"/>
                    <img class="img-responsive img-hover" src="{{ image.image_file_thumbnail.url }}">
                  </a>
                </div>
              {% endfor %}
            </div>
            <div id="image-links-preview" class="row"></div>
          </div>
          <!-- YouTube Videos -->
          <div id="youtube-videos" class="tab-pane fade">
            <input id="youtube-videos-add" type="url" class="form-control" name="youtube-videos" placeholder="https://www.youtube.com/watch?v=" pattern="https://www.youtube.com/watch?v=[a-zA-Z0-9_-]{11}"><br />
            <div id="youtube-videos-existing">
              {% for video in announcement.youtube_videos.all %}
                <div id="{{ video.pk }}" class="hidden">{{ video.youtube_video }}</div>
              {% endfor %}
            </div>
            <div id="youtube-videos-preview"></div>
          </div>
        </div><hr />
        <!-- Announcement Category -->
        <div class="input-group {% if form.category.errors %}has-error{% endif %}">
          <span class="input-group-addon">Category:</span>{{ form.category }}
        </div><br />
      </form><br />
      <!-- Buttons -->
      <div class="row text-center">
        <div class="col-sm-4 col-sm-offset-2">
          <a class="btn btn-default" href="{{ announcement.get_absolute_url }}"><span class="glyphicon glyphicon-log-out"></span>&nbsp;&nbsp;Cancel</a>
        </div>
        <div class="col-sm-4">
          <button type="button" id="submit-announcement-update-form" class="btn btn-default"><span class="glyphicon glyphicon-log-in"></span>&nbsp;&nbsp;Publish</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Templates -->

  <img id="image-tester" class="hidden" src="https://placeholdit.imgix.net/~text?txtsize=28&txt=300%C3%97300&w=300&h=300">

  <template id="image-file-template">
    <div class="col-xs-4 col-sm-3 image-thumbnail">
      <div class="nailthumb-container"><img class="img-responsive img-hover image" src="{% templatetag openvariable %} imageURL {% templatetag closevariable %}"></div>
    </div>
  </template>

  <template id="image-link-template">
    <div class="col-xs-4 col-sm-3 image-thumbnail">
      <a href="{% templatetag openvariable %} imageURL {% templatetag closevariable %}" target="_blank"/><div class="nailthumb-container hidden"><img class="img-responsive img-hover" src="{% templatetag openvariable %} imageURL {% templatetag closevariable %}"></div></a>
      <input required type="hidden" name="image-links" value="{% templatetag openvariable %} imageURL {% templatetag closevariable %}">
    </div>
  </template>

  <template id="youtube-video-template">
    <div class="row">
      <div class="col-xs-5 youtube-video-thumbnail">
        <!-- Thumbnail -->
        <a href="https://www.youtube.com/watch?v={% templatetag openvariable %} videoID {% templatetag closevariable %}" target="_blank"><img src="{% templatetag openvariable %} thumbnailURL {% templatetag closevariable %}"></a>
      </div>
      <div class="col-xs-7 youtube-video-details">
        <!-- Title -->
        <div class="youtube-video-title">
          <b><a href="https://www.youtube.com/watch?v={% templatetag openvariable %} videoID {% templatetag closevariable %}" target="_blank">{% templatetag openvariable %} videoTitle {% templatetag closevariable %}</a> <span class="glyphicon glyphicon-new-window"></span></b>
        </div>
        <!-- Author (Channel Name) -->
        <div class="youtube-video-author">
          <a class="youtube-video-author" href="{% templatetag openvariable %} videoAuthorURL {% templatetag closevariable %}" target="_blank">{% templatetag openvariable %} videoAuthor {% templatetag closevariable %} <span class="glyphicon glyphicon-new-window"></span></a>
        </div>
      </div>
      <input required type="hidden" name="youtube-videos" value="{% templatetag openvariable %} videoID {% templatetag closevariable %}" maxlength="11">
    </div><br />
  </template>
{% endblock %}

{% block script %}<script src="{% static 'main/js/announcement_update.js' %}"></script>{% endblock%}
