{% extends "main/announcement_form.html" %}

{% load static from staticfiles %}

{% block title %}Update Announcement{% endblock %}

{% block form_id %}announcement-update-form{% endblock %}{% block form_url %}{% url 'announcement-update' announcement.pk %}{% endblock %}

{% block sidebar_extra %}
  <hr class="sidebar-divider">
  <ul id="sidebar-admin-announcement">
    <a href="#" class="sidebar-header">Announcement Tools</a>
    <li><a href="{% url 'announcement-update' announcement.pk %}" class="selected">
      <span class="icon-container"><span class="glyphicon glyphicon-pencil"></span></span>
      <span class="display-name">Make Changes</span>
    </a></li>
    <li><a href="#">
      <span class="icon-container"><span class="glyphicon glyphicon-remove"></span></span>
      <span class="display-name">Delete</span>
    </a></li>
  </ul>
{% endblock %}

{% block image_file_preview %}
  <!-- Image Preview (new then existing) -->
  <div class="image-list form">
    <span id="image-files-preview"></span><span id="image-files-existing">{% for image in announcement.image_files.all %}<div class="image">
      <a href="{{ image.image_file.url }}" target="_blank" title="Click to open in new tab"><img src="{{ image.image_file_thumbnail.url }}"></a>
    </div>{% endfor %}</span>
  </div>
{% endblock %}

{% block image_link_preview %}
  <!-- Image Preview (new then existing) -->
  <div class="image-list form">
    <span id="image-links-preview"></span><span id="image-links-existing">{% for image in announcement.image_links.all %}<div class="image">
      <a href="{{ image.image_link }}" target="_blank" title="Click to open in new tab"><img src="{{ image.image_file_thumbnail.url }}"></a>
    </div>{% endfor %}</span>
  </div>
{% endblock %}

{% block youtube_video_preview %}
  <!-- YouTube Video Preview (new then existing) -->
  <div id="youtube-videos-preview"></div>
  <div id="youtube-videos-existing">
    {% for video in announcement.youtube_videos.all %}<div data-video-id="{{ video.youtube_video }}" hidden></div>{% endfor %}
  </div>
{% endblock %}

{% block cancel_button_target_url %}{% url 'announcement-detail' announcement.pk %}{% endblock %}
{% block submit_button_id %}submit-announcement-update-form{% endblock %}
