{% extends "main/base.html" %}

{% load static from staticfiles %}

{% block title %}Announcement Detail{% endblock %}

{% block masthead_announcements %}selected{% endblock %}

{% block sidebar_announcements %}selected{% endblock %}

{% block sidebar_extra %}
  <hr class="sidebar-divider">
  <ul id="sidebar-admin-announcement">
    <a href="#" class="sidebar-header">Announcement</a>
    <li><a href="{% url 'announcement-update' announcement.pk %}">
      <span class="icon-container"><span class="glyphicon glyphicon-pencil"></span></span>
      <span class="display-name">Make Changes</span>
    </a></li>
    <li><a href="#">
      <span class="icon-container"><span class="glyphicon glyphicon-remove"></span></span>
      <span class="display-name">Delete</span>
    </a></li>
  </ul>
{% endblock %}

{% block content %}
  <div class="container-white">
    <div class="announcement-wrapper">
      <!-- Announcement Title -->
      <div class="title"><h4><a href="{% url 'announcement-list' %}"><div>{{ announcement.title }}</div></a></h4></div>
      <!-- Announcement Signature -->
      <div class="signature">
        <span class="fa fa-clock-o"></span>
        <span class="datetime">{{ announcement.date_created|date:'F j' }}, {{ announcement.date_created|time:'P' }}</span>
        | Tags: <span class="label" style="background-color:{{ announcement.category.color|default:'#222222' }}">{{ announcement.category|default_if_none:'Everyone' }}</span>
      </div>
      <!-- Announcement Content -->
      <div class="content">{{ announcement.content }}</div>
      <!-- Announcement Images -->
      <div class="image-list">
        {% for image in announcement.image_files.all %}<div class="image"><a href="{{ image.image_file.url }}" target="_blank" title="Click to open in new tab"><img src="{{ image.image_file_thumbnail.url }}"></a></div>{% endfor %}{% for image in announcement.image_links.all %}<div class="image"><a href="{{ image.image_link }}" target="_blank" title="Click to open in new tab"><img src="{{ image.image_file_thumbnail.url }}"></a></div>{% endfor %}
      </div>
      <!-- Announcement Videos -->
      <div class="row row-compact">
        {% for video in announcement.youtube_videos.all %}
          <div class="col-sm-6 col-compact">
            <div class="embed-responsive embed-responsive-16by9 video"><iframe class="embed-responsive-item" src="https://www.youtube.com/embed/{{ video.youtube_video }}" allowfullscreen></iframe></div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
{% endblock %}

{% block script %}<script src="{% static 'main/js/announcement_detail.js' %}"></script>{% endblock %}
