{% extends "main/base.html" %}

{% load static from staticfiles %}

{% block title %}Announcement Detail{% endblock %}

{% block header %}Announcement Detail{% endblock %}

{% block breadcrumb %}
  <li><a href="{% url 'index' %}">Home</a></li>
  <li><a href="{% url 'announcement-list' %}">Announcements</a></li>
  <li class="active">{{ announcement }}</li>
  <li><a href="{% url 'announcement-update' announcement.pk %}">Update</a></li>
{% endblock %}

{% block content %}
  <div class="announcement-wrapper">
    <!-- Announcement Title -->
    <div class="title"><h3>{{ announcement.title }}</h3></div>
    <!-- Announcement Signature -->
    <div class="signature">
      <span class="fa fa-clock-o"></span>
      <span class="datetime">{{ announcement.date_created|date:'F j' }}, {{ announcement.date_created|time:'P' }}</span>
      | Tags: <span class="label" style="background-color:{{ announcement.category.color|default:'#222222' }}">{{ announcement.category|default_if_none:'Everyone' }}</span>
    </div><br />
    <!-- Announcement Content -->
    <div class="content">{{ announcement.content }}</div><br />
    <!-- Announcement Images -->
    <div class="image-list">
      {% for image in announcement.image_files.all %}<div class="image"><a href="{{ image.image_file.url }}" target="_blank"/><img src="{{ image.image_file_thumbnail.url }}"></a></div>{% endfor %}{% for image in announcement.image_links.all %}<div class="image"><a href="{{ image.image_link }}" target="_blank"/><img src="{{ image.image_file_thumbnail.url }}"></a></div>{% endfor %}
    </div><br />
    <!-- Announcement Videos -->
    {% for video in announcement.youtube_videos.all %}
      <div class="embed-responsive embed-responsive-16by9"><iframe class="embed-responsive-item" src="https://www.youtube.com/embed/{{ video.youtube_video }}" allowfullscreen></iframe></div><br />
    {% endfor %}
  </div>
{% endblock %}

{% block script %}<script src="{% static 'main/js/announcement_detail.js' %}"></script>{% endblock %}
