{% extends "main/base.html" %}

{% block sidebar %}
  <!-- Category Filter -->
  <div class="well">
    <a href="?" class="no-underline" title="Show All" data-toggle="tooltip" data-placement="top" data-animation="false"><span class="label" style="background-color:white; color:black">All</span></a>
    {% for category in categories %}
      <a href="?category={{ category.pk }}" class="no-underline" title="Filter" data-toggle="tooltip" data-placement="top" data-animation="false">
        <span class="label" style="background-color:{{ category.color }};">{{ category.name }}</span>
      </a>
    {% endfor %}
  </div><br />
{% endblock %}
