<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">

    {% load staticfiles %}

    <!-- Favicon -->
    <link rel="icon" href="{% static 'main/theme/favicon.ico' %}">

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
    <!-- Allow Cross Origin Ajax Requests -->
    <script src="{% static 'main/js/ajax-cross-origin/jquery.ajax-cross-origin.min.js' %}"></script>
    <!-- Datepicker -->
    <link href="{% static 'main/js/datepicker/bootstrap-datepicker3.css' %}" rel="stylesheet">
    <script src="{% static 'main/js/datepicker/bootstrap-datepicker.min.js' %}"></script>
    <!-- Timepicker -->
    <link href="{% static 'main/js/timepicker/jquery.timepicker.css' %}" rel="stylesheet">
    <script src="{% static 'main/js/timepicker/jquery.timepicker.min.js' %}"></script>
    <!-- Datepair -->
    <script src="{% static 'main/js/datepair/jquery.datepair.min.js' %}"></script>
    <!-- Custom Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,500' rel='stylesheet' type='text/css'>
    <!-- Custom CSS -->
    <link href="{% static 'main/css/base.css' %}" rel="stylesheet">
    <link href="{% static 'main/css/style.css' %}" rel="stylesheet">

    <title>{% block title %}Centennial High School{% endblock %}</title>

  </head>

  <body class="show-sidebar">

    <!-- Masthead (navbar) -->
    <nav id="masthead">
      <!-- Top Nav -->
      <div id="masthead-top" class="masthead-section">
        <!-- Logo Container -->
        <div id="masthead-top-left">
          <!-- Hamburger Button -->
          <a href="#" id="toggle-sidebar"><span class="glyphicon glyphicon-menu-hamburger"></a>
          <!-- Logo -->
          <a href="{% url 'index' %}" id="site-logo"><img src="{% static 'main/theme/logo.png' %}" id="site-logo-icon"><img src="{% static 'main/theme/logo-text.png' %}" id="site-logo-text"></a>
        </div>
        {% if user.is_authenticated %}
          <!-- Logout Button-->
          <ul id="masthead-top-right"><li><a href="{% url 'logout' %}">Log out</a></li></ul>
        {% else %}
          <!-- Login Form -->
          <ul id="masthead-top-right"><li><a href="{% url 'login' %}">Log in</a></li></ul>
        {% endif %}
      </div>
      <!-- Bottom Nav -->
      <div id="masthead-bottom" class="masthead-section">
        <ul>
          {% block masthead %}
          <li><a href="{% url 'index' %}" class="{% block masthead_trending %}{% endblock %}">Trending</a></li>
          <li><a href="{% url 'announcement-list' %}" class="{% block masthead_announcements %}{% endblock %}">Announcements</a></li>
          <li><a href="{% url 'event-list' %}" class="{% block masthead_events %}{% endblock %}">Events</a></li>
          <li><a href="{% url 'poll-list' %}" class="{% block masthead_polls %}{% endblock %}">Polls</a></li>
          {% endblock %}
        </ul>
      </div>
    </nav>

    <!-- Sidebar -->
    <div id="sidebar">
      <div class="sidebar-content">
        <ul id="section-1">
          {% if user.is_authenticated %}
            <li><a href="#" class="{% block sidebar_account %}{% endblock %}"><span class="glyphicon glyphicon-user"></span><span class="text-label">My Account</span></a></li>
            <li><a href="{% url 'index' %}" class="{% block sidebar_trending %}{% endblock %}"><span class="glyphicon glyphicon-fire"></span><span class="text-label">Trending</span></a></li>
            <!-- <span class="glyphicon glyphicon-bullhorn"> -->
            <!-- <span class="glyphicon glyphicon-bell"> -->
            <li><a href="{% url 'announcement-list' %}" class="{% block sidebar_announcements %}{% endblock %}"><span class="glyphicon glyphicon-comment"></span><span class="text-label">Announcements</span></a></li>
            <li><a href="{% url 'event-list' %}" class="{% block sidebar_events %}{% endblock %}"><span class="glyphicon glyphicon-calendar"></span><span class="text-label">Events</span></a></li>
            <li><a href="{% url 'poll-list' %}" class="{% block sidebar_polls %}{% endblock %}"><span class="glyphicon glyphicon-stats"></span><span class="text-label">Polls</span></a></li>
            <li><a href="#" class="{% block sidebar_teachers %}{% endblock %}"><span class="glyphicon glyphicon-education"></span><span class="text-label">Teachers</span></a></li>
            <!-- <span class="glyphicon glyphicon-bookmark"> -->
            <!-- <span class="glyphicon glyphicon-flag"> -->
            <!-- <span class="glyphicon glyphicon-star-empty"> -->
            <li><a href="#" class="{% block sidebar_saved %}{% endblock %}"><span class="glyphicon glyphicon-star"></span><span class="text-label">Saved for Later</span></a></li>
            <li><a href="#" class="{% block sidebar_settings %}{% endblock %}"><span class="glyphicon glyphicon-cog"></span><span class="text-label">Settings</span></a></li>
          {% else %}
            <a href="#" class="sidebar-section-header">Registration</a>
            <li><a href="{% url 'parent-register' %}" class="{% block sidebar_parent_register %}{% endblock %}"><span class="glyphicon glyphicon-user"></span><span class="text-label">Parent</span></a></li>
            <li><a href="{% url 'student-register' %}" class="{% block sidebar_student_register %}{% endblock %}"><span class="glyphicon glyphicon-user"></span><span class="text-label">Student</span></a></li>
            <li><a href="{% url 'teacher-register' %}" class="{% block sidebar_teacher_register %}{% endblock %}"><span class="glyphicon glyphicon-user"></span><span class="text-label">Teacher</span></a></li>
          {% endif %}
        </ul>
        {% if user.is_superuser %}
        <hr />
        <ul id="section-admin">
          <a href="#" class="sidebar-section-header">Admin Tools</a>
          <li><a href="{% url 'announcement-create' %}" class="{% block sidebar_announcement_create %}{% endblock %}"><span class="glyphicon glyphicon-comment"></span><span class="text-label">New Announcement</span></a></li>
          <li><a href="{% url 'event-create' %}" class="{% block sidebar_event_create %}{% endblock %}"><span class="glyphicon glyphicon-calendar"></span><span class="text-label">New Event</span></a></li>
          <li><a href="{% url 'poll-create' %}" class="{% block sidebar_poll_create %}{% endblock %}"><span class="glyphicon glyphicon-stats"></span><span class="text-label">New Poll</span></a></li>
          <li><a href="{% url 'index' %}"><span class="glyphicon glyphicon-fire"></span><span class="text-label">Trending</span></a></li>
          <li><a href="#" class="{% block sidebar_pinned %}{% endblock %}"><span class="glyphicon glyphicon-pushpin"></span><span class="text-label">Pinned</span></a></li>
          <!-- <span class="glyphicon glyphicon-tag"> -->
          <li><a href="{% url 'category-list' %}" class="{% block sidebar_category_list %}{% endblock %}"><span class="glyphicon glyphicon-tags"></span><span class="text-label">Tags</span></a></li>
        </ul>
        <ul id="section-admin-advanced">
          <a href="#" class="sidebar-section-header">Advanced</a>
          <!-- <span class="glyphicon glyphicon-hdd"> -->
          <!-- <span class="glyphicon glyphicon-wrench"> -->
          <!-- <span class="glyphicon glyphicon-cog"> -->
          <!-- <span class="glyphicon glyphicon-flash"> -->
          <!-- <span class="glyphicon glyphicon-th"> -->
          <li><a href="{% url 'admin:index' %}" target="_blank"><span class="glyphicon glyphicon-hdd"></span><span class="text-label">Database</span></a></li>
        </ul>
        {% endif %}
        {% block sidebar_extra %}{% endblock %}
      </div>
    </div>

    <!-- Main Content -->
    <div id="main-content">
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-md-offset-2">
            {% block content %}{% endblock %}
          </div>
        </div>
      </div>
    </div>

    <!-- Footer -->
    <footer id="site-footer">
      <div id="site-copyright" class="text-center">&copy; Kaliq Wang and Rayner Kristanto Productions 2016</div>
    </footer>

    <!-- Login Modal -->
    <div class="modal fade" id="login-modal" tabindex="-1">
      <div class="modal-dialog modal-sm">
        <div class="modal-content">
          <div class="modal-header"><button type="button" class="close" data-dismiss="modal"><span>&times;</span></button><h4 class="modal-title">Log in</h4></div>
          <div class="modal-body">
            <form id="login-form" action="{{ request.get_full_path }}" method="post">{% csrf_token %}
              <input type="text" class="form-control" name="username" placeholder="Username"><br />
              <input type="password" class="form-control" name="password" placeholder="Password"><br />
            </form>
            <div class="login-form-footer"><button id="submit-login-form" type="button" class="btn btn-custom">Log in</button></div>
          </div>
        </div>
      </div>
    </div>

    <span id="user-authentication" hidden>{% if user.is_authenticated %}True{% else %}False{% endif %}</span>

    {% block templates %}{% endblock %}

    <!-- Bootstrap core JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <!-- Mustache Template Engine -->
    <script src="{% static 'main/js/mustache.min.js' %}"></script>
    <!--Textarea Autoresize -->
    <script src="{% static 'main/js/autosize/autosize.min.js' %}"></script>
    <!-- Custom JavaScript -->
    <script src="{% static 'main/js/base.js' %}"></script>
    {% block script %}{% endblock %}
  </body>
</html>
