{% extends "main/base.html" %}

{% load static from staticfiles %}

{% block title %}Events{% endblock %}

{% block header %}Events{% endblock %}

{% block breadcrumb %}
  <li><a href="{% url 'index' %}">Home</a></li>
  <li class="active">Events</li>
{% endblock %}

{% block content %}
    <ul id="events-list" class="data-hidden">
      {% for event in events %}
        <li class="event"
          data-event-name="{{ event.name }}"
          data-event-date-start="{{ event.date_start|date:'M j' }}"
          data-event-date-end="{{ event.date_end|date:'M j' }}"
          data-event-time-start="{{ event.time_start|default_if_none:'' }}"
          data-event-time-end="{{ event.time_end|default_if_none:'' }}"
          data-event-is-multi-day="{{ event.is_multi_day }}"
          data-event-location="{{ event.location|default:'TBA' }}"
          data-event-details="{{ event.details|default:'TBA' }}"
          data-event-category="{{ event.category.pk }}">
          <a href="{{ event.get_absolute_url }}">{{ event.name }}</a>
          <div class="event-category-label">
            <span class="category label" style="background-color:{{ event.category.color }};">{{ event.category }}</span>
          </div>
        </li>
      {% empty %}
        <h2>No events yet</h2>
      {% endfor %}
    </ul>

    <template id="event-details-template">
      <li class="event-details"><b>What:</b> {% templatetag openvariable %} what {% templatetag closevariable %}</li>
      <li class="event-details"><b>When:</b> {% templatetag openvariable %} when {% templatetag closevariable %}</li>
      <li class="event-details"><b>Where:</b> {% templatetag openvariable %} where {% templatetag closevariable %}</li>
      <li class="event-details"><b>Details:</b> {% templatetag openvariable %} details {% templatetag closevariable %}</li>
      <li class="event-details"><b>Category:</b> {% templatetag openvariable %}{ category }{% templatetag closevariable %}</li>
    </template>

    <template id="event-details-category-template">
      <li class="event-details"><b>Category:</b>
        <span class="category label" style="background-color:{% templatetag openvariable %} categoryColor {% templatetag closevariable %}">
          {% templatetag openvariable %} categoryName {% templatetag closevariable %}
        </span>
      </li>
    </template>
{% endblock %}

{% block sidebar %}
    <!-- Todo: Automatically update whenever a user hover's over an event to show that event's details -->
    <div id="event-details-container" class="well">
      <h4>Event Details</h4>
      <div id="event-details">
      </div>
    </div>
{% endblock %}

{% block script %}<script src= "{% static 'main/js/event_list.js' %}"></script>{% endblock %}
