{% extends "main/base.html" %}

{% load static from staticfiles %}

{% block masthead_events %}selected{% endblock %}

{% block content %}
<div class="container-white">
  <form id="{% block form_id %}{% endblock %}" action="{% block form_url %}{% endblock %}" method="post">{% csrf_token %}
    <!-- Event Name -->
    <div class="row row-compact">
      <div class="col-sm-1 col-compact"><div class="form-label">Name</div></div>
      <div class="col-sm-11 col-compact"><div class="{% if form.name.errors %}has-error{% endif %}">{{ form.name }}</div></div>
    </div><br/>
    <!-- Event Location -->
    <div class="row row-compact">
      <div class="col-sm-1 col-compact"><div class="form-label">Location</div></div>
      <div class="col-sm-11 col-compact"><div class="{% if form.location.errors %}has-error{% endif %}">{{ form.location }}</div></div>
    </div><br/>
    <!-- Event Date/Time -->
    <div class="input-daterange">
      <div class="row row-compact">
        <div class="col-sm-1 col-compact"><div class="form-label">Start</div></div>
        <div class="col-sm-4 col-compact"><div class="has-feedback {% if form.date_start.errors %}has-error{% endif %}">{{ form.date_start }}<span class="glyphicon glyphicon-calendar form-control-feedback"></span></div></div>
        <div class="col-sm-3 col-compact"><div class="has-feedback {% if form.time_start.errors %}has-error{% endif %}">{{ form.time_start }}<span class="glyphicon glyphicon-time form-control-feedback"></div></div>
      </div><br />
      <div class="row row-compact">
        <div class="col-sm-1 col-compact"><div class="form-label">End</div></div>
        <div class="col-sm-4 col-compact"><div class="has-feedback {% if form.date_start.errors %}has-error{% endif %}">{{ form.date_end }}<span class="glyphicon glyphicon-calendar form-control-feedback"></span></div></div>
        <div class="col-sm-3 col-compact"><div class="has-feedback {% if form.time_start.errors %}has-error{% endif %}">{{ form.time_end }}<span class="glyphicon glyphicon-time form-control-feedback"></div></div>
      </div><br />
    </div>
    <!-- Event Details -->
    <div class="row row-compact">
      <div class="col-sm-1 col-compact"><div class="form-label">Details</div></div>
      <div class="col-sm-11 col-compact">{{ form.details }}</div>
    </div><br/>
    <!-- Event Category -->
    <div class="row row-compact">
      <div class="col-sm-1 col-compact"><div class="form-label">Category</div></div>
      <div class="col-sm-11 col-compact"><div class="{% if form.category.errors %}has-error{% endif %}">{{ form.category }}</div><hr /></div>
    </div>
    <!-- Buttons -->
    <div class="text-right">
      <a class="btn btn-sm btn-default" href="{% block cancel_button_target_url %}{% url 'event-list' %}{% endblock %}">Cancel</a>
      <button id="{% block submit_button_id %}{% endblock %}" class="btn btn-sm btn-custom" type="button">{% block submit-button-text %}Publish{% endblock %}</button>
    </div>
  </form>
</div>
{% endblock %}

{% block script %}<script src= "{% static 'main/js/event_form.js' %}"></script>{% endblock %}
