{% extends "main/event_form.html" %}

{% load static from staticfiles %}

{% block title %}Update Event{% endblock %}

{% block sidebar_extra %}
  <hr class="sidebar-divider">
  <ul id="sidebar-admin-event">
    <a href="#" class="sidebar-header">Event Tools</a>
    <li><a href="{% url 'event-update' event.pk %}" class="selected">
      <span class="icon-container"><span class="glyphicon glyphicon-pencil"></span></span>
      <span class="display-name">Make Changes</span>
    </a></li>
    <li><a href="#">
      <span class="icon-container"><span class="glyphicon glyphicon-remove"></span></span>
      <span class="display-name">Delete</span>
    </a></li>
  </ul>
{% endblock %}

{% block form_id %}event-update-form{% endblock %}{% block form_url %}
{% url 'event-update' event.pk %}{% endblock %}
{% block cancel_button_target_url %}{% url 'event-detail' event.pk %}{% endblock %}
{% block submit_button_id %}submit-event-update-form{% endblock %}
