{% extends "main/event_form.html" %}

{% load static from staticfiles %}

{% block title %}Update Event{% endblock %}

{% block sidebar_extra %}
  <hr />
  <ul id="section-admin-event">
    <a href="#" class="sidebar-section-header">Event Tools</a>
    <!-- <span class="glyphicon glyphicon-tags"> -->
    <li><a href="{% url 'event-update' event.pk %}" class="selected"><span class="glyphicon glyphicon-pencil"></span><span class="text-label">Make Changes</span></a></li>
    <li><a href="{% url 'event-list' %}"><span class="glyphicon glyphicon-remove"></span><span class="text-label">Remove</span></a></li>
  </ul>
{% endblock %}

{% block form_id %}event-update-form{% endblock %}{% block form_url %}
{% url 'event-update' event.pk %}{% endblock %}
{% block cancel_button_target_url %}{% url 'event-detail' event.pk %}{% endblock %}
{% block submit_button_id %}submit-event-update-form{% endblock %}
