{% extends "main/base.html" %}

{% load static from staticfiles %}

{% block title %}Poll Detail{% endblock %}

{% block header %}Poll Detail{% endblock %}

{% block breadcrumb %}
  <li><a href="{% url 'index' %}">Home</a></li>
  <li><a href="{% url 'poll-list' %}">Polls</a></li>
  <li class="active">{{ poll }}</li>
  <li><a href="{% url 'poll-update' poll.pk %}">Update</a></li>
{% endblock %}

{% block content %}
  <div class="alert alert-warning alert-dismissible">
    <button type="button" class="close" data-dismiss="alert"><span>&times;</span></button>
    <b>Note:</b> This page is incomplete.
  </div>
  <div id="poll-{{ poll.pk }}" class="poll-wrapper"
    data-votes="{{ poll.votes.count }}"
    data-author="{{ poll.author.pk }}"
    data-date-open="{{ poll.date_open|date:'F j' }}, {{ poll.date_open|time:'P' }}"
    data-date-close="{{ poll.date_close|date:'F j' }}, {{ poll.date_close|time:'P' }}"
    data-is-open="{{ poll.is_open }}"
    data-category="{{ poll.category.pk }}">
    <!-- How to pass python dict context variable containing vote count for each choice and total? -->

    <!-- Poll Content -->
    <div class="content"><a href="{{ poll.get_absolute_url }}"><h4>{{ poll.content }}</h4></a></div>
    <!-- Poll Signature -->
    <div class="signature">
      <span class="fa fa-clock-o"></span>
      <span class="datetime">{{ poll.date_open|date:'F j' }}, {{ poll.date_open|time:'P' }}</span>
      | Tags: <span class="label" style="background-color:{{ poll.category.color|default:'#222222' }}">{{ poll.category|default_if_none:'Everyone' }}</span>
    </div>
    <!-- Poll Choices -->
    <div class="poll-choices">
      {% for choice in poll.choices.all %}
        <div class="row choice-wrapper">
          <div class="col-xs-2 text-right">
            <input id="choice-{{ choice.pk }}" type="radio" name="poll-{{ poll.pk }}" value="{{ choice.pk }}">
          </div>
          <div class="col-xs-10">
            <label for="choice-{{ choice.pk }}" class="poll-choice-label">{{ choice.content }}</label>
          </div>
        </div>
      {% endfor %}
    </div>
    <!-- Buttons -->
    <div class="row poll-bottom">
      <div class="col-sm-5">
        <input id="poll-{{ poll.pk }}-anonymous" type="checkbox" class="left-block" name="anonymous-submit" value="True">
        <label for="poll-{{ poll.pk }}-anonymous">Vote anonymously</label>
      </div>
      <div class="col-sm-5 col-sm-offset-2">
        <button type="button" class="btn btn-default btn-sm show-results">Show Results</button>
        <button type="button" class="btn btn-primary btn-sm submit-poll">Submit</button>
        <button type="button" class="btn btn-default btn-sm submit-poll hidden">Change Vote</button>
      </div>
    </div>
  </div>
{% endblock %}
