{% extends "main/base.html" %}

{% load static from staticfiles %}

{% block masthead_polls %}selected{% endblock %}

{% block content %}
<div class="container-white">
  <form id="{% block form_id %}{% endblock %}" action="{% block form_url %}{% endblock %}" enctype="multipart/form-data" method="post">{% csrf_token %}
    <!-- Temporary Alert -->
    <div class="alert alert-warning alert-dismissible">
      <button type="button" class="close" data-dismiss="alert"><span>&times;</span></button>
      <b>Note:</b> This page is incomplete.
    </div>
    <!-- Poll Content -->
    <div class="row row-compact">
      <div class="col-sm-1 col-compact"><div class="form-label">Title</div></div>
      <div class="col-sm-11 col-compact"><div class="{% if form.content.errors %}has-error{% endif %}">{{ form.content }}</div></div>
    </div><br>
    <!-- Poll Choices -->
    <div class="row row-compact">
      <div class="col-sm-1 col-compact"><div class="form-label">Choices</div></div>
      <div class="col-sm-11 col-compact">
        <div id="poll-choices-existing" data-poll-pk="{{ poll.pk }}" data-choice-count="{{ poll.choices.count }}">
          {% for choice in poll.choices.all %}
          <li data-content="{{ choice.content }}" data-choice-pk="{{ choice.pk }}"></li>
          {% endfor %}
        </div>
        <div id="poll-choices-new" class="form-group"></div>
      </div>
    </div><br>
    <!-- Poll Category -->
    <div class="row row-compact">
      <div class="col-sm-1 col-compact"><div class="form-label">Category</div></div>
      <div class="col-sm-11 col-compact"><div class="{% if form.category.errors %}has-error{% endif %}">{{ form.category }}</div><hr></div>
    </div>
    <!-- Buttons -->
    <div class="row">
      <div class="col-sm-1"></div>
      <div class="col-sm-5">
        {% block morebuttons %}<button id="poll-choice-add" class="btn btn-sm btn-default" type="button" tabindex="-1"><span class="glyphicon glyphicon-plus"></span> Choice</button>{% endblock %}
      </div>
      <div class="col-sm-6 text-right">
        <a class="btn btn-sm btn-default" href="{% block cancel-button-target-url %}{% url 'poll-list' %}{% endblock %}">Cancel</a>
        <button id="{% block submit_button_id %}{% endblock %}" class="btn btn-sm btn-custom" type="button">{% block submit-button-text %}Publish{% endblock %}</button>
      </div>
    </div>
  </form>
</div>
{% endblock %}
{% block templates %}
  <template id="choice-input-template">
    <div class="input-group choice-input-wrapper">
      <input type="hidden" name="category-{% templatetag openvariable %} index {% templatetag closevariable %}">
      <!--data-choice-pk used when putting-->
      <input required type="text" class="form-control choice-input" name="choice[]" value="{% templatetag openvariable %} content {% templatetag closevariable %}" placeholder="{% templatetag openvariable %} placeholder {% templatetag closevariable %}" maxlength="200" data-choice-pk="{% templatetag openvariable %} pk {% templatetag closevariable %}">
      <span class="input-group-btn" tabindex="-1">
        <!--data-choice-pk used when removing -->
        <button type="button" class="btn btn-default remove-input" data-flavor="{% templatetag openvariable %} placeholder {% templatetag closevariable %}" data-choice-pk="{% templatetag openvariable %} pk {% templatetag closevariable %}">
          <span class="glyphicon glyphicon-remove"></span>
        </button>
      </span>
    </div>
  </template>
{% endblock %}

{% block script %}<script src= "{% static 'main/js/poll_form.js' %}"></script>{% endblock %}
