{% extends "main/base_form.html" %}

{% load static from staticfiles %}

{% block title %}Create Poll{% endblock %}

{% block header %}Create Poll{% endblock %}

{% block breadcrumb %}
  <li><a href="{% url 'index' %}">Home</a></li>
  <li><a href="{% url 'poll-list' %}">Polls</a></li>
  <li class="active">New</li>
{% endblock %}

{% block content %}
  <form id="poll-create-form" action="{% url 'poll-create' %}" method="post">{% csrf_token %}
    <!-- Poll Content -->
    <div class="row">
      <div class="col-xs-10">
        <div id="poll-content" class="{% if form.content.errors %}has-error{% endif %}" contenteditable="true">
          {{ form.content }}
        </div>
      </div>
      <div class="col-xs-2">
        <button id="poll-choice-add" class="btn btn-default" type="button" title="Add Choice" data-toggle="tooltip" data-placement="top"><span class="glyphicon glyphicon-plus"></span></button>
      </div>
    </div><br />
    <!-- Poll Choices -->
    <div id="choice-container" class="form-group"></div><br />
    <!-- Poll Category -->
    <div id="poll-category" class="input-group {% if form.category.errors %}has-error{% endif %}">
      <span class="input-group-addon">Category:</span>{{ form.category }}
    </div><br />
  </form><br />
{% endblock %}

{% block submit-button-id %}submit-poll-create-form{% endblock %}

{% block templates %}
  <template id="choice-input-template">
    <div class="input-group choice-input-wrapper">
      <input required type="text" class="form-control choice-input" name="choice[]" placeholder="{% templatetag openvariable %} placeholder {% templatetag closevariable %}" maxlength="200" data-existing>
      <span class="input-group-btn" tabindex="-1">
        <button class="btn btn-default remove-input" data-flavor="{% templatetag openvariable %} placeholder {% templatetag closevariable %}">
          <span class="glyphicon glyphicon-remove"></span>
        </button>
      </span>
    </div>
  </template>
{% endblock %}

{% block script %}<script src="{% static 'main/js/poll_create.js' %}"></script>{% endblock%}
