{% extends "main/base_form.html" %}

{% load static from staticfiles %}

{% block title %}Student Registration{% endblock %}

{% block header %}Student Registration{% endblock %}

{% block breadcrumb %}
  <li><a href="{% url 'index' %}">Home</a></li>
  <li class="active">Student Registration</li>
{% endblock %}

{% block content %}
  <form id="student-register-form" action="{% url 'student-register' %}" method="post">{% csrf_token %}
    <div class="row">
      <div class="col-sm-3"><div class="form-label">Username</div></div>
      <div class="col-sm-9">
        <div class="has-feedback {% if userForm.username.errors %}has-error{% elif userForm.is_bound %}has-success{% endif %}" title="{{ userForm.username.errors.as_text }}" data-toggle="tooltip" data-placement="bottom">
          {{ userForm.username }}
          {% if userForm.username.errors %}<span class="glyphicon glyphicon-remove form-control-feedback"></span>
          {% elif userForm.is_bound %}<span class="glyphicon glyphicon-ok form-control-feedback">{% endif %}
        </div>
      </div>
    </div><br/>
    <div class="row">
      <div class="col-sm-3"><div class="form-label">Password</div></div>
      <div class="col-sm-9">
        <div class="has-feedback {% if userForm.password.errors %}has-error{% elif userForm.is_bound %}has-success{% endif %}" title="{{ userForm.password.errors.as_text }}" data-toggle="tooltip" data-placement="bottom">
          {{ userForm.password }}
          {% if userForm.password.errors %}<span class="glyphicon glyphicon-remove form-control-feedback"></span>
          {% elif userForm.is_bound %}<span class="glyphicon glyphicon-ok form-control-feedback">{% endif %}
        </div>
      </div>
    </div><br/>
    <div class="row">
      <div class="col-sm-3"><div class="form-label">First Name</div></div>
      <div class="col-sm-9">
        <div class="has-feedback {% if userForm.first_name.errors %}has-error{% elif userForm.is_bound %}has-success{% endif %}" title="{{ userForm.first_name.errors.as_text }}" data-toggle="tooltip" data-placement="bottom">
          {{ userForm.first_name }}
          {% if userForm.first_name.errors %}<span class="glyphicon glyphicon-remove form-control-feedback"></span>
          {% elif userForm.is_bound %}<span class="glyphicon glyphicon-ok form-control-feedback">{% endif %}
        </div>
      </div>
    </div><br/>
    <div class="row">
      <div class="col-sm-3"><div class="form-label">Last Name</div></div>
      <div class="col-sm-9">
        <div class="has-feedback {% if userForm.last_name.errors %}has-error{% elif userForm.is_bound %}has-success{% endif %}" title="{{ userForm.last_name.errors.as_text }}" data-toggle="tooltip" data-placement="bottom">
          {{ userForm.last_name }}
          {% if userForm.last_name.errors %}<span class="glyphicon glyphicon-remove form-control-feedback"></span>
          {% elif userForm.is_bound %}<span class="glyphicon glyphicon-ok form-control-feedback">{% endif %}
        </div>
      </div>
    </div><br/>
    <div class="row">
      <div class="col-sm-3"><div class="form-label">Phone Number</div></div>
      <div class="col-sm-9">
        <div class="has-feedback {% if userProfileForm.mobile.errors %}has-error{% elif userProfileForm.is_bound %}has-success{% endif %}" title="{{ userProfileForm.mobile.errors.as_text }}" data-toggle="tooltip" data-placement="bottom">
          {{ userProfileForm.mobile }}
          {% if userProfileForm.mobile.errors %}<span class="glyphicon glyphicon-remove form-control-feedback"></span>
          {% elif userProfileForm.is_bound %}<span class="glyphicon glyphicon-ok form-control-feedback">{% endif %}
        </div>
      </div>
    </div><br/>
    <div class="row">
      <div class="col-sm-3"><div class="form-label">School Email</div></div>
      <div class="col-sm-9">
        <div class="has-feedback {% if userForm.email.errors %}has-error{% elif userForm.is_bound %}has-success{% endif %}" title="{{ userForm.email.errors.as_text }}" data-toggle="tooltip" data-placement="bottom">
          {{ userForm.email }}
          {% if userForm.email.errors %}<span class="glyphicon glyphicon-remove form-control-feedback"></span>
          {% elif userForm.is_bound %}<span class="glyphicon glyphicon-ok form-control-feedback">{% endif %}
        </div>
      </div>
    </div><br/>
    <div class="row">
      <div class="col-sm-3"><div class="form-label">Student ID</div></div>
      <div class="col-sm-9">
        <div class="has-feedback {% if studentProfileForm.student_id.errors %}has-error{% elif studentProfileForm.is_bound %}has-success{% endif %}" title="{{ studentProfileForm.student_id.errors.as_text }}" data-toggle="tooltip" data-placement="bottom">
          {{ studentProfileForm.student_id }}
          {% if studentProfileForm.student_id.errors %}<span class="glyphicon glyphicon-remove form-control-feedback"></span>
          {% elif studentProfileForm.is_bound %}<span class="glyphicon glyphicon-ok form-control-feedback">{% endif %}
        </div>
      </div>
    </div><br/>
    <div class="row">
      <div class="col-sm-3"><div class="form-label">Grade Level</div></div>
      <div class="col-sm-9">
        <div class="has-feedback {% if studentProfileForm.grade_level.errors %}has-error{% elif studentProfileForm.is_bound %}has-success{% endif %}" title="{{ studentProfileForm.grade_level.errors.as_text }}" data-toggle="tooltip" data-placement="bottom">
          {{ studentProfileForm.grade_level }}
          {% if studentProfileForm.grade_level.errors %}<span class="glyphicon glyphicon-remove form-control-feedback"></span>
          {% elif studentProfileForm.is_bound %}<span class="glyphicon glyphicon-ok form-control-feedback">{% endif %}
        </div>
      </div>
    </div><br/>
  </form>
{% endblock %}

{% block submit-button-id %}submit-student-register-form{% endblock %}{% block submit-button-text %}Register{% endblock %}
