{% extends "main/base_register.html" %}

{% load static from staticfiles %}

{% block title %}Teacher Registration{% endblock %}

{% block header %}Teacher Registration{% endblock %}

{% block masthead %}
  {{ block.super }}
  <li><a href="#" class="selected">Teacher Registration</a></li>
{% endblock %}

{% block sidebar-teacher-register %}selected{% endblock %}

<!-- {% block breadcrumb %}
  <li><a href="{% url 'index' %}">Home</a></li>
  <li class="active">Student Registration</li>
{% endblock %} -->

{% block register-form-id %}teacher-register-form{% endblock %}
{% block register-form-url %}{% url 'teacher-register' %}{% endblock %}

{% block register-form-extra-fields %}
  <div class="row row-compact">
    <div class="col-sm-2 col-compact"><div class="form-label">Room Number</div></div>
    <div class="col-sm-10 col-compact">
      <div class="has-feedback {% if teacherProfileForm.room.errors %}has-error{% elif teacherProfileForm.is_bound %}has-success{% endif %}" title="{{ teacherProfileForm.room.errors.as_text }}" data-toggle="tooltip" data-placement="right" data-trigger="focus">
        {{ teacherProfileForm.room }}
        {% if teacherProfileForm.room.errors %}<span class="glyphicon glyphicon-remove form-control-feedback"></span>
        {% elif teacherProfileForm.is_bound %}<span class="glyphicon glyphicon-ok form-control-feedback">{% endif %}
      </div>
    </div>
  </div>
{% endblock %}

{% block submit-button-id %}submit-teacher-register-form{% endblock %}
{% block submit-button-text %}Create Teacher Account{% endblock %}
