<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Serve static files with Django -->
    {% load staticfiles %}
    <!-- Favicon -->
    <link rel="icon" href="{% static 'theme/favicon.ico' %}">
    <!-- Roboto font -->
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,500' rel='stylesheet' type='text/css'>
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <!-- Other CSS (order important)-->
    <link href="{% static 'js/datepicker/bootstrap-datepicker3.css' %}" rel="stylesheet">
    <link href="{% static 'js/timepicker/jquery.timepicker.css' %}" rel="stylesheet">
    <link href="{% static 'css/base.css' %}" rel="stylesheet">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <!-- Website Title -->
    <title>{% block title %}Centennial High School{% endblock %}</title>
  </head>

  <body class="show-sidebar">

    <!-- Masthead (navbar) -->
    <nav id="masthead">
      <div id="masthead-top" class="masthead-section">
        <div id="masthead-top-left">
          <a href="" id="toggle-sidebar"><span class="icon-container"><span class="glyphicon glyphicon-menu-hamburger"></span></span></a>
          <a href="{% url 'base:index' %}" id="site-logo"><img src="{% static 'theme/site-logo.png' %}" id="site-logo-icon"></a>
        </div>
        <div id="masthead-top-right">
          {% if user.is_authenticated %}
            <ul><li><a href="{% url 'accounts:logout' %}">Log out</a></li></ul>
          {% else %}
            <ul><li><a href="{% url 'accounts:login' %}">Log in</a></li></ul>
          {% endif %}
        </div>
      </div>
      <div id="masthead-bottom" class="masthead-section">
        <ul>
          {% block masthead_bottom %}
            <!-- <li><a href="{% url 'base:index' %}" class="{% block masthead_trending %}{% endblock %}">Trending</a></li> -->
            <li><a href="{% url 'announcements:list' %}" class="{% block masthead_announcements %}{% endblock %}">Announcements</a></li>
            <li><a href="{% url 'events:list' %}" class="{% block masthead_events %}{% endblock %}">Events</a></li>
            <li><a href="{% url 'polls:list' %}" class="{% block masthead_polls %}{% endblock %}">Polls</a></li>
          {% endblock %}
        </ul>
      </div>
    </nav>

    <!-- Sidebar -->
    <div id="sidebar-container">
      <div id="sidebar">
        <ul id="sidebar-top">
          {% if user.is_authenticated %}
            <!-- <li><a href="{% url 'base:index' %}" class="{% block sidebar_trending %}{% endblock %}">
              <span class="icon-container"><span class="glyphicon glyphicon-fire"></span></span>
              <span class="display-name">Trending</span>
            </a></li> -->
            <li><a href="{% url 'announcements:list' %}" class="{% block sidebar_announcements %}{% endblock %}">
              <span class="icon-container"><span class="glyphicon glyphicon-comment"></span></span>
              <span class="display-name">Announcements</span>
            </a></li>
            <li><a href="{% url 'events:list' %}" class="{% block sidebar_events %}{% endblock %}">
              <span class="icon-container"><span class="glyphicon glyphicon-calendar"></span></span>
              <span class="display-name">Events</span>
            </a></li>
            <li><a href="{% url 'polls:list' %}" class="{% block sidebar_polls %}{% endblock %}">
              <span class="icon-container"><span class="glyphicon glyphicon-stats"></span></span>
              <span class="display-name">Polls</span>
            </a></li>
            <li><a href="#" class="{% block sidebar_saved %}{% endblock %}">
              <span class="icon-container"><span class="glyphicon glyphicon-star"></span></span>
              <span class="display-name">Saved</span>
            </a></li>
            <li><a href="#" class="{% block sidebar_teachers %}{% endblock %}">
              <span class="icon-container"><span class="glyphicon glyphicon-education"></span></span>
              <span class="display-name">Teachers</span>
            </a></li>
          {% else %}
            <div class="sidebar-header"><a href="#">Registration</a></div>
            <li><a href="{% url 'accounts:register-parent' %}" class="{% block sidebar_parent_register %}{% endblock %}">
              <span class="icon-container"><span class="glyphicon glyphicon-user"></span></span>
              <span class="display-name">Parent</span>
            </a></li>
            <li><a href="{% url 'accounts:register-student' %}" class="{% block sidebar_student_register %}{% endblock %}">
              <span class="icon-container"><span class="glyphicon glyphicon-user"></span></span>
              <span class="display-name">Student</span>
            </a></li>
            <li><a href="{% url 'accounts:register-teacher' %}" class="{% block sidebar_teacher_register %}{% endblock %}">
              <span class="icon-container"><span class="glyphicon glyphicon-user"></span></span>
              <span class="display-name">Teacher</span>
            </a></li>
          {% endif %}
        </ul>
        {% if user.is_superuser %}
        <hr class="sidebar-divider">
        <ul id="sidebar-admin">
          <div class="sidebar-header"><a href="#">Admin Tools</a></div>
          <li><a href="{% url 'announcements:create' %}" class="{% block sidebar_announcement_create %}{% endblock %}">
            <span class="icon-container"><span class="glyphicon glyphicon-comment"></span></span>
            <span class="display-name">New Announcement</span>
          </a></li>
          <li><a href="{% url 'events:create' %}" class="{% block sidebar_event_create %}{% endblock %}">
            <span class="icon-container"><span class="glyphicon glyphicon-calendar"></span></span>
            <span class="display-name">New Event</span>
          </a></li>
          <li><a href="{% url 'polls:create' %}" class="{% block sidebar_poll_create %}{% endblock %}">
            <span class="icon-container"><span class="glyphicon glyphicon-stats"></span></span>
            <span class="display-name">New Poll</span>
          </a></li>
          <!-- <li><a href="{% url 'base:index' %}">
            <span class="icon-container"><span class="glyphicon glyphicon-fire"></span></span>
            <span class="display-name">Trending</span>
          </a></li> -->
          <!-- <li><a href="#" class="{% block sidebar_pinned %}{% endblock %}">
            <span class="icon-container"><span class="glyphicon glyphicon-pushpin"></span></span>
            <span class="display-name">Pinned</span>
          </a></li> -->
          <li><a href="{% url 'categories:list' %}" class="{% block sidebar_category_list %}{% endblock %}">
            <span class="icon-container"><span class="glyphicon glyphicon-tags"></span></span>
            <span class="display-name">Tags</span>
          </a></li>
        </ul>
        <ul id="sidebar-admin-advanced">
          <div class="sidebar-header"><a href="#">Advanced</a></div>
          <li><a href="{% url 'admin:index' %}" target="_blank">
            <span class="icon-container"><span class="glyphicon glyphicon-hdd"></span></span>
            <span class="display-name">Database</span>
          </a></li>
          <li><a href="#">
            <span class="icon-container"><span class="glyphicon glyphicon-signal"></span></span>
            <span class="display-name">Statistics</span>
          </a></li>
          <li><a href="{% url 'base:generator' %}">
            <span class="icon-container"><span class="glyphicon glyphicon-wrench"></span></span>
            <span class="display-name">Generator</span>
          </a></li>
        </ul>
        {% endif %}
        {% block sidebar_filter %}{% endblock %}
        {% block sidebar_extra %}{% endblock %}
      </div>
    </div>

    <!-- Main Page -->
    <div id="main-page">
      <div id="main-page-content" class="container">
          {% block info_bar_top %}{% endblock %}
          {% block paginator_top %}{% endblock %}
          {% block data %}{% endblock %}
          {% block content %}{% endblock %}
          {% block paginator_bottom %}{% endblock %}
        </div>
      </div>
    </div>

    <!-- Footer -->
    <footer id="site-footer"><div id="site-copyright" class="text-center">&copy; Kaliq Wang and Rayner Kristanto Productions 2016</div></footer>

    <!-- Login Modal -->
    <div class="modal fade" id="login-modal" tabindex="-1">
      <div class="modal-dialog modal-sm">
        <div class="modal-content">
          <div class="modal-header"><button type="button" class="close" data-dismiss="modal"><span>&times;</span></button><h4 class="modal-title">Log in</h4></div>
          <div class="modal-body">
            <form id="login-form" action="{{ request.get_full_path }}" method="post">{% csrf_token %}
              <input type="text" class="form-control" name="username" placeholder="Username"><br>
              <input type="password" class="form-control" name="password" placeholder="Password"><br>
            </form>
            <div id="login-form-footer">
              <button id="submit-login-form" type="button" class="btn btn-custom">Log in</button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <span id="user-authentication" hidden>{% if user.is_authenticated %}True{% else %}False{% endif %}</span>
    <!-- TODO: Fix this enormous security hole: -->
    <span id="user-profile-pk" hidden>{{ request.user.profile.pk }}</span>

    {% block templates %}{% endblock %}

    <!-- jQuery (latest version)-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    <script src="https://code.jquery.com/color/jquery.color-2.1.2.min.js" integrity="sha256-H28SdxWrZ387Ldn0qogCzFiUDDxfPiNIyJX7BECQkDE=" crossorigin="anonymous"></script>
    <!-- Bootstrap core JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <!-- Other JavaScript -->
    <script src="{% static 'js/datepicker/bootstrap-datepicker.min.js' %}"></script>
    <script src="{% static 'js/timepicker/jquery.timepicker.min.js' %}"></script>
    <script src="{% static 'js/datepair/jquery.datepair.min.js' %}"></script>
    <script src="{% static 'js/ajax-cross-origin/jquery.ajax-cross-origin.min.js' %}"></script>
    <script src="{% static 'js/autosize/autosize.min.js' %}"></script>
    <script src="{% static 'js/mustache/mustache.min.js' %}"></script>
    <script src="{% static 'js/js-cookie/js.cookie.js' %}"></script>
    <script src="{% static 'base/js/base.js' %}"></script>
    {% block script %}{% endblock %}
  </body>
</html>

<!-- <span class="icon-container"><span class="glyphicon glyphicon-bullhorn"> -->
<!-- <span class="icon-container"><span class="glyphicon glyphicon-bell"> -->
<!-- <span class="icon-container"><span class="glyphicon glyphicon-bookmark"> -->
<!-- <span class="icon-container"><span class="glyphicon glyphicon-flag"> -->
<!-- <span class="icon-container"><span class="glyphicon glyphicon-star-empty"> -->
<!-- <span class="icon-container"><span class="glyphicon glyphicon-wrench"> -->
<!-- <span class="icon-container"><span class="glyphicon glyphicon-cog"> -->
<!-- <span class="icon-container"><span class="glyphicon glyphicon-flash"> -->
<!-- <span class="icon-container"><span class="glyphicon glyphicon-th"> -->
<!-- <span class="icon-container"><span class="glyphicon glyphicon-signal"> -->
<!-- <span class="icon-container"><span class="glyphicon glyphicon-tasks"> -->
<!-- <span class="icon-container"><span class="glyphicon glyphicon-equalizer"> -->
<!-- <li><a href="#" class="{% block sidebar_account %}{% endblock %}"><span class="icon-container"><span class="glyphicon glyphicon-user"></span></span><span class="display-name">My Account</span></a></li>
<li><a href="#" class="{% block sidebar_settings %}{% endblock %}"><span class="icon-container"><span class="glyphicon glyphicon-cog"></span></span><span class="display-name">Settings</span></a></li> -->
