.category {

    width:10px;
    height:70px;
}

.announcement-wrapper {
    /*background-color: #f5f5f5;*/
    border: 20px solid #f5f5f5;
    padding: 16px 0px;
    margin-right: 20px;
    margin-bottom: 20px;
    word-wrap:break-word;
}

.announcement-wrapper .edit {
    display:none;
}
.announcement-wrapper.edit .edit {
    display:initial;
}
.announcement-wrapper.edit .noedit {
    display:none;
}
.ajax {
    display:none;
}

.remove-media {
    display:none;
    position: absolute;
    top: -10px;
    right: -3px;
    width:20px;
    height:20px;
}

.announcement-wrapper.edit .mmedia:hover img.remove-media {
    display:block;
}
.video-wrapper img {
    right: -20px;

}
.video-wrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    height: 0;
}
.video-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.thumbnail{
  position: relative;
  width: auto;
  text-align: center;

}
.selected img {
  opacity:.2;

}
.selected .thumbnail {
  border: 1px solid #2e78ba;

}

.remove {
  display: none;
  position: absolute;
  width: 100%;
  top: 40%
}

.announcement-wrapper.edit .thumbnail:hover img {
  opacity: .2;
}

.announcement-wrapper.edit .thumbnail:hover span.remove {
  display: block;
  color:#2e78ba;
}
