.category {

    width:10px;
    height:70px;
}
button {
    background-color: #337ab7;
    color:white;
    border-style:none;
    border-radius:4px;
    padding:5px 12px;
    margin-top:10px;
}
button:hover {
    background-color: #275d8b;
}
.announcement-wrapper {
    /*background-color: #f5f5f5;*/
    border: 20px solid #f5f5f5;
    padding: 16px 0px;
    margin-right: 20px;
    margin-bottom: 20px;
    word-wrap:break-word;
}

.announcement-wrapper .edit {
    display:none;
}
.announcement-wrapper.edit .edit {
    display:initial;
}
.announcement-wrapper.edit .noedit {
    display:none;
}
.ajax {
    display:none;
}

.video-wrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    height: 0;
}
.video-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.thumbnail{
  position: relative;
  width: auto;
  text-align: center;

}
.selected img {
  opacity:.2;
}
.selected iframe {
    opacity:.2;
}
.selected.video-wrapper {
    border: 1px solid #2e78ba
}

.remove {
  display: none;
  position: absolute;
  width: 100%;
  top: 40%
}

.announcement-wrapper.edit .thumbnail:hover img {
  opacity: .2;
}
.announcement-wrapper.edit .thumbnail:hover iframe {
  opacity: .2;
  pointer-events:none;
}

.announcement-wrapper.edit .video-wrapper:hover {
  border: 1px solid #2e78ba;
  z-index: 1;
}
.announcement-wrapper.edit .thumbnail:hover span.remove {
  display: block;
  color:#2e78ba;
}
