label {
    margin-left: 10px;
}
hr {
    border-color: #b3b3b3;
}
.poll-buttons button {
    background-color: #337ab7;
    color:white;
    border-style:none;
    border-radius:4px;
    padding:5px 12px;
    margin-top:10px;
}
.poll-buttons button:hover {
    background-color: #275d8b;
}

.poll-wrapper .edit {
    display:none;
}
.poll-wrapper.edit .edit {
    display:initial;
}
.poll-wrapper.edit .noedit {
    display:none;
}
.poll-wrapper .resubmit {
    display:none;
}
.poll-wrapper.resubmit .resubmit {
    display:initial;
}
.poll-wrapper.resubmit .noresubmit {
    display:none;
}
.hide {
    display:none;
}

.remove {
  display: none;
  position: absolute;
  width: 100%;
  top: 40%
}
