.data-hidden {
    display: none;
}

.month-header {
    border-bottom: 2px solid #337ab7;
}

.date-header {
    padding-top: 20px;
}

li {
    list-style: none;
}

li.event-details {
    padding-top: 10px;
}
