/************************************ All *************************************/

img {
    background-color: black;
}

li {
    list-style: none;
}

.inline-block {
    display: inline-block;
    vertical-align: top;
    padding: 6px 8px;
}

.label {
    font-weight: normal;
}

.no-underline:hover {
    text-decoration: none;
}

.fixed-element {
    position: fixed;
}

.form-label {
    font-weight: bold;
    padding: 6px 0px;
    text-align: right;
}

.dot {
    width: 8px;
    height: 8px;
    border-radius: 4px;
    padding: 2px;
    display: inline-block;
    vertical-align: middle;
}

/******************************* Announcements ********************************/

/* announcement_list / announcement_detail */
.announcement-wrapper {
    border: 12px solid #f5f5f5;
    border-radius: 4px;
    padding: 8px 32px;
    margin-bottom: 20px;
    word-wrap:break-word;
}
.announcement-wrapper .title {
    color: #337ab7;
}
.announcement-wrapper .toggle-collapse {
    color: grey;
    border-top: 1px solid #eee;
    padding-top: 5px;
}
.announcement-wrapper .toggle-collapse:hover {
    color: black;
    cursor: pointer;
}

/* announcement_create / announcement_update */
#image-files-filenames {
    /*padding: 0px 0px 0px 30px;*/
}
.youtube-video-thumbnail {
    padding-right: 0px;
}
.youtube-video-thumbnail img {
    width: 100%;
    height: auto;
}
.youtube-video-details {
    padding-left: 10px;
}
.youtube-video-details .author {
    font-size: .9em;
}

/* images */
.image-list {
    margin-right: -9px;
    line-height: 0px;
}
.image-list.form {
    padding: 0px 30px;
}
.image-list .image {
    display: inline-block;
    padding-right: 9px;
    padding-bottom: 9px;
    vertical-align: middle;
}
.image-list .image:hover {
    opacity: 0.8;
}
.image-list .image-thumbnail {
    width: 110px;
    height: 110px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
}

/*********************************** Events ***********************************/

/* event_list / event_detail */
#event-list .month-header {
    color: #337ab7;
    border-bottom: 2px solid #337ab7;
}
#event-list .month-header:hover {
    color: #23527c;
    border-color: #23527c;
    cursor: pointer;
}
#event-list .date-header {
    padding-top: 20px;
}
#event-list li > a {
    color: black;
}
#event-info-box {
    position: fixed;
    width: 555px;
}
#event-info > li {
    padding-top: 10px;
}

/*********************************** Polls ************************************/

/* poll_list */
.poll-wrapper {
    border: 12px solid #f5f5f5;
    border-radius: 4px;
    padding: 8px 32px;
    margin-bottom: 20px;
    word-wrap:break-word;
}

.poll-wrapper .edit {
    display:none;
}
.poll-wrapper.edit .edit {
    display: initial;
}
.poll-wrapper.edit .noedit {
    display:none;
}
.poll-wrapper .resubmit {
    display:none;
}
.poll-wrapper.resubmit .resubmit {
    display:initial;
}
.poll-wrapper.resubmit .noresubmit {
    display:none;
}
.poll-choices {
    padding: 16px;
    border-bottom: 1px solid #eee;
}

.poll-bottom {
    padding-top: 10px;
}

.poll-wrapper label {
    font-weight: normal;
}

.poll-choice-label:hover {
    text-decoration: underline;
}

/******************************* category_list ********************************/

#categories input[type="color"] {
    width: 100px;
    border-radius: 0px 4px 4px 0px;
}

#categories .input-group-wrapper {
    padding-bottom: 10px;
}

#categories .input-group-wrapper .remove_field {
    padding: 6px 0px;
}
