/************************************ All *************************************/

.btn-custom:hover, .btn-custom:focus, .btn-custom:active, .btn-custom:active:focus {
    color: #fff;
    background-color: #126db3;
    border-color: #126db3;
    outline: none;
}
.btn-custom {
    color: #fff;
    background-color: #0778c8;
    border-color: #0778c8;
}
.badge {
    color: #0778c8;
    background-color: #fff;
}

textarea {
    resize: vertical;
}

h4 {
    margin-top: 15px;
}

.inline-block {
    display: inline-block;
    vertical-align: top;
    padding: 6px 8px;
}

.label {
    font-weight: normal;
}

.no-underline:hover {
    text-decoration: none;
}

.fixed-element {
    position: fixed;
}

.form-label {
    font-weight: bold;
    padding: 6px 0px;
    text-align: right;
}

.dot {
    width: 8px;
    height: 8px;
    border-radius: 4px;
    padding: 2px;
    display: inline-block;
    vertical-align: middle;
}

.row-compact {
    margin: 0px -8px;
}

.col-compact {
    padding: 0px 8px;
}

/*********************************** Forms ************************************/

form:not(#login-form) {
    padding: 20px;
}

/******************************* Announcements ********************************/

/* announcement_list / announcement_detail */
.announcement-wrapper {
    border: 1px solid #e8e8e8;
    padding: 4px 20px;
    margin-bottom: 10px;
}
.announcement-wrapper .toggle-collapse {
    color: #888;
    border-top: 1px solid #e8e8e8;
    padding-top: 4px;
}
.announcement-wrapper .toggle-collapse:hover {
    color: #444;
    cursor: pointer;
}
.announcement-wrapper .signature,.content,.image-list,.video {
    margin-bottom: 15px;
}
.announcement-wrapper a {
    color: #444;
}
.announcement-wrapper a:hover {
    color: #1e18cc;
    text-decoration: underline;
}

/* announcement_create / announcement_update */
#image-files-filenames {
    /*padding: 0px 0px 0px 30px;*/
}

.youtube-video-preview-wrapper {
    padding-top: 10px;
}
.youtube-video-thumbnail img {
    width: 100%;
    height: auto;
}
.youtube-video-details {
    padding-right: 10px;
}
.youtube-video-details .title {
    font-weight: 500;
}
.youtube-video-details .author {
    font-size: .9em;
}

/* images */
.image-list {
    margin-right: -4px;
    line-height: 0px;
}
.image-list.form {
    padding: 0px 32px;
}
.image-list .image {
    display: inline-block;
    padding-right: 1px;
    padding-bottom: 1px;
    vertical-align: middle;
}
.image-list .image:hover {
    opacity: 0.8;
}
.image-list .image-thumbnail {
    width: 127px;
    height: 127px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
}

/*********************************** Events ***********************************/

/* event_list / event_detail */
#event-list {
    padding: 15px 30px;
    color: #444;
}
#event-list .month-header {
    color: inherit;
    border-bottom: 2px solid;
    border-color: inherit;
}
#event-list .month-header:hover {
    color: #1e18cc;
    border-color: #1e18cc;
    cursor: pointer;
}
#event-list .date-header {
    padding-top: 20px;
}
#event-list li a {
    color: inherit;
}
#event-list a:hover {
    text-decoration: underline;
}
#event-info-box {
    position: fixed;
    /*top: 105px;*/
    width: 400px;
    margin-left: -401px;
}
#event-info ul {
    padding: 0px;
    padding: 15px 20px;
}
#event-info ul li {
    padding: 5px;
}
#event-info-footer {
    padding: 10px;
}
#event-info-wrapper hr {
    margin: 0px -10px;
}

/*********************************** Polls ************************************/

/* poll_list */
.poll-wrapper {
    border-radius: 4px;
    padding: 8px 32px;
    margin-bottom: 10px;
    border: 1px solid #e8e8e8;
}
.poll-choices {
    padding: 16px;
    border-bottom: 1px solid #eee;
}

.poll-bottom {
    padding-top: 10px;
}

.poll-wrapper label {
    font-weight: normal;
}

.poll-choice-label:hover {
    text-decoration: underline;
}

/**************************** category_list *****************************/

#categories input[type="color"] {
    width: 100px;
    border-radius: 0px 4px 4px 0px;
}

#categories .input-group-wrapper {
    padding-bottom: 10px;
}

#categories .input-group-wrapper .remove_field {
    padding: 6px 0px;
}

/*************************** student-register ***************************/

.register-form .row-compact {
    padding: 4px 0px;
}
